[2014-08-12 09:54] sbidoul opened #17 "Create the 8.0 branch for account-financial-tools"
Can a good soul create the 8.0 branch for account-financial-tools?

Thanks

cc/ @gurneyalex

[2014-08-12 12:05] gurneyalex commented on #17
done.

[2014-08-12 12:05] #17 closed, assigned to nobody

[2014-08-14 10:16] yvaucher opened #22 "Missing label *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:37] #22 closed, assigned to nobody

[2014-09-03 11:26] falinwa opened #33 "Bug on currency_rate_update module"
Hi OCA,

I have used currency_rate_update module, it’s a great module to update currency rate automatically.

But I found a problem, sometimes we get the wrong rate.

As for your info, My database has a multicompany configuration
my first company base currency is CNY,
My second company base currency is HKD
And we choose yahoo provider to update the currency.

The problem is sometimes we get the wr

[2014-09-03 12:39] nbessi commented on #33
Hello,

Did you share your rate between company or are they separated

[2014-09-04 01:40] falinwa commented on #33
Hi Nicolas,

They are separated, so each company have a different rate.

Thank You.

Best Regards,

Hans Yonathan

OpenERP Support

FALINWA Limited

Expert in Finance & Business Intelligence

OpenERP Partner

Website:  http://www.falinwa.com/ www.falinwa.com

From: Nicolas Bessi (nbessi) [mailto:notifications@github.com]
Sent: Wednesday, September 03, 2014 8:40 PM
To: OCA/account-financial-tools
C

[2014-09-04 11:03] nbessi commented on #33
In this case you should create one cron for each company. Even if the
addons should support mutli company by default this behavior was not tested
in version 7

2014-09-04 3:40 GMT+02:00 falinwa notifications@github.com:

##

Nicolas Bessi
Senior ERP consultant
Business Solution technical manager

Camptocamp SA
PSE A
CH-1015 Lausanne

http://openerp.camptocamp.com

Direct:   +41 21 619 10 26
Office

[2014-09-04 11:12] falinwa commented on #33
Ok, I have did it.

I will give you a feedback later for this.

But I think its not a problem, because we have other database that not have multi-company but still have the same problem.

Thank You.

Best Regards,

Hans Yonathan

OpenERP Support

FALINWA Limited

Expert in Finance & Business Intelligence

OpenERP Partner

Website:  http://www.falinwa.com/ www.falinwa.com

From: Nicolas Bessi (nbes

[2014-09-11 08:10] dreispt opened #44 ""account_move_line_search_extension" module is empty"
What the directory created by accident?

[2014-09-26 16:10] sbidoul opened #49 "Missing ACL on credit.control.dunning.fees.computer"
While investigating why travis was red on #48, it appeared it is due to a missing ACL on credit.control.dunning.fees.computer (in module account_credit_control_dunning_fees).
https://travis-ci.org/OCA/account-financial-tools/jobs/36345695

I started to add it when I noticed it was a bit of a special Model. At first glance I had the impression that it could be modified to be a TransientModel (which

[2014-10-29 09:09] nbessi commented on #49
Done here https://github.com/OCA/account-financial-tools/pull/60

[2014-10-29 12:34] #49 closed, assigned to nobody

[2014-10-29 12:50] sbidoul commented on #44
@dreispt this one should be ok now.

[2014-11-18 14:52] sbidoul opened #79 "account_move_batch_validate does not post in date order"
Hello,

While playing around with account_move_batch_validate, I noticed it does not post moves in chronological order.

The problem is similar with account_move_validation_improvement.

The official wizard has an order by 'date'.

I believe this can create issues in some situations. However this is not easy to resolve in a multi-worker environment, or in the presences of retries.

What are your t

[2014-11-18 14:57] sbidoul commented on #79
I propose #80 to improve account_move_validation_improvement.

[2014-11-18 16:07] fclementic2c opened #82 "[7.0] account_move_line_search_extension : impossible to post a manual entry"
module : account_move_line_search_extension (with filters on top of the tree view 'journal items'
- select a journal and type in a period
- click on create
- input a date, description, debit... and press enter
  -> the new line generate is considered a new move so it is impossible to create the couterpart entry of the first move

I noticed a second issue : After you select the journal and period a

[2014-11-18 16:08] fclementic2c commented on #82
@luc-demeyer Hi luc, I just notice a problem with this module that I report here. If you have some time to check it out

[2014-11-18 16:22] lepistone commented on #79
Hi @sbidoul. For `account_move_batch_validate`, I agree with you that specifying `order` in the searches would help, and it is a good change to make.

On the other hand, jobs are created and scheduled, and I don't think we can guarantee that the order of creation of the jobs will be respected.

In fact, one of the use cases of the module is to validate a large quantity of moves, and keep going if

[2014-11-18 16:31] sbidoul commented on #79
@lepistone indeed we can't guarantee ordering of jobs.

I was thinking of doing the posting in three passes instead of two:
1. mark moves to post (as it is now)
2. create one job per journal to assign numbers to moves, with order by date
3. create one job per move to post

Even if the posting jobs are done in random order, the numbering will be respected.

Makes sense?

[2014-11-18 16:35] luc-demeyer commented on #82
Frédéric,

The purpose of this module is easy consultation (drill down), not the (rather unusable) ‘fast encoding’ mechanism which is provided via the standard ‘Journal Items’ menu entry.

What I propose in order to fix the issue reported by you is to disable the creation of new entries from the ‘Journal Items Search All’ list view.

Do you  agree with this or do you have other suggestions ?

Tx,

[2014-11-18 16:39] pedrobaeza commented on #82
I also agree with the solution. This must be readonly.

[2014-11-18 17:10] lepistone commented on #79
@sbidoul I am unsure on this one.

At the moment the module should handle the case where you change your mind or add other lines when jobs are running. Also, jobs can be run again for the same lines before they are completely treated with no ill effects. So, at a first glance, your approach could work, but it looks like there are many brittle edge cases to test.

I'll ping @guewen: have you have h

[2014-11-19 07:26] nbessi commented on #79
@lepistone we can play with priority of the jobs. we may convert date to seconds or something like that and use it as priority

[2014-11-19 07:36] lepistone commented on #79
ah, ok, thanks @nbessi. I think priority and right order from the start are good as a best-effort approach, but I'm not sure whether we can guarantee ordering, because one of the use cases we had in mind for the module was to handle problems manually later (incorrect moves that could be manually fixed, or deleted, or postponed) and there is concurrency, too.

[2014-11-19 07:43] nbessi commented on #79
@lepistone I agreed it is more a workaround and more workers you have the more odds to have unordered task may come. Connector does not provided such features out of the box we have to extends it to add it. Like having workoers to have access to all queue, channels etc...

I have same needs for connector_odbc  seems to be quite a work

[2014-11-19 08:02] fclementic2c commented on #82
Now I understand why you did not want to merge both menus 'journal items' and 'journal items search all'... but now both menus are merged :(https://github.com/OCA/account-financial-tools/commit/78205e0ee4f295b77598c3b72f3766e44cf1bed8)

Ok we will propose a PR to revert this but as you say, we also need to hide this create button if possible.

Functionnaly, we absolutely need to post entries from

[2014-11-21 17:09] pedrobaeza commented on #82
But what I don't understand is that if you can fast-encoding journal entries with the other menu, why you cannot do it in this new menu. Same mechanisms can be provided on both.

[2014-11-24 18:23] luc-demeyer commented on #82
@pedrobaeza the so-called "fast" encoding uses the period selected in the standard 'Journal Items' menu whereas the 'search all' allows partial period names (e.g. to search on all items in periods with 2014 in the name). Merging both approaches will be confusing for the end user, hence my proposal to keep the two menu items and block creation of journal items when using the 'search all'.

[2014-11-24 18:26] pedrobaeza commented on #82
@luc-demeyer Understood

Let's keep both menus and we should add this clarifications on module description to avoid this debate occurs again in the future. Don't you think?

[2014-12-05 11:30] sbidoul opened #97 "afr_webkit: the webkit report is not used when printing from the Partner view"
When printing the Partner Ledger from the Partner view, the standard report is printed, even when account_financial_report_webkit is installed.

![image](https://cloud.githubusercontent.com/assets/692075/5315164/56b44b86-7c7a-11e4-9746-da1e3999baf6.png)

Expected behaviour: the webkit report should be printed from that menu too.

[2014-12-08 17:48] sbidoul commented on #79
@guewen @lepistone I'm back on this topic.

I'm not sure I understand the corner cases mentioned by @lepistone in https://github.com/OCA/account-financial-tools/issues/79#issuecomment-63506427 . The approach I propose would not really change the logic of the module except it would at a numbering pass before marking the moves for posting.

But I may miss use cases you have.

IMO it would be much cl

[2014-12-09 09:52] lepistone commented on #79
@sbidoul use cases that look difficult (not impossible) to me:
- user selects a million lines, marks them, then changes his mind and deselects some or all
- for some reason, the process is run again when there are still pending jobs to treat the same lines.

In general, we could have in any moment lines that have not been treated at all, lines that were assigned a number but not confirmed yet, and

[2014-12-12 03:22] falinwa opened #104 "Issue in Currency Rate Update Module[V8]"
Hi OCA,

I have migrated our database from v7 to v8,
Since V7 we have used this module(Currency Rate Update), and in V8 we used this module too.
But when I tried to configure it, we have a bug that said: "super_res is not defined", and the currency records that we want to update is not in the table, and when we want to choose it again, there's no show on it too. (In V7 we have: HKD,EURO,USD). I tr

[2014-12-12 04:15] feketemihai commented on #104
Can you tell me which service are you using and please post part of the error from logfile...In essence difference between v7 and v8 is new API, supported currencies per service, restructure the module ...i think in V7 there was an extra table...currency.rate.update beside currency.rate.update.service...in V8 there is only currency.rate.update.service....

[2014-12-12 07:20] falinwa commented on #104
Actually if you watch the video you can see it all.

The service I am using is Yahoo.

The log that I got is just like this:

Uncaught ReferenceError: super_res is not defined

---

http://192.168.100.5:8079/web/js/web.assets_backend/0ee08b8:3937

It happen when I want to choose the currencies in many2many field.

Thank You.

Best Regards,

Hans Yonathan

Odoo Support

FALINWA Limited

Expert in F

[2014-12-12 07:49] feketemihai commented on #104
I cannot reproduce your bug...and strange is that in the code there isn't any super method...so this has to deal with something else...the best way is to put here the errors from the log...

[2014-12-31 14:29] alexis-via opened #113 "account_auto_fy_sequence: access rights issue"
For example, I use accout_auto_fy_sequence with the module donation_tax_receipt ; the tax receipts use a sequence with "%(fy)s". When a regular user creates a tax receipt, if he is the first to do it for a fiscal year, he will get an access rights error pop-up that says that he doesn't have "create" access on ir.sequence:

Sorry, you are not allowed to create this kind of document. Only users with

[2014-12-31 14:33] pedrobaeza commented on #113
You're totally right. Are you going to do the corresponding PRs (7.0 and 8.0)?

[2014-12-31 14:46] alexis-via opened #115 "account_auto_fy_sequence: created sequence should not have a code"
Here is the scenario of the bug : I am using donation_tax_receipt with account_auto_fy_sequence. My tax receipts have a sequence with a prefix "%(fy)s", see donation_tax_receipt/donation_tax_data.xml. In donation_tax_receipt/donation_tax.py line 171, I have:

[code]

see http://bazaar.launchpad.net/~philemon-core-editors/philemon/trunk/view/head:/donation_tax_receipt/donation_tax.py

I have one fi

[2015-01-01 13:36] #115 closed, assigned to nobody

[2015-01-01 13:37] #113 closed, assigned to nobody

[2015-01-01 13:41] alexis-via opened #119 "8.0: account_auto_fy_sequence breaks the POS"
Here is the scenario of the bug: on an up-to-date odoo 8, install the point_of_sale module and use it: everything works fine.

Install the module account_auto_fy_sequence. Start the point of sale again: Point of sale > Your Session > New session
Add a product. Click on "Checks journal", then "Validate", then "Next Order" : you will get an error pop-up : _next() takes at least 4 arguments (4 given)

[2015-01-05 10:49] #119 closed, assigned to nobody

[2015-01-13 08:28] ybofr opened #126 "Currency_rate_update: naming of the titles in english"
The title "Currency update frequency" should be "Update interval"

[2015-01-28 09:16] fclementic2c opened #135 "Puzzling about multicurrency accounting entries corner cases impossible to handle with account_constraints"
One of the purpose of the module account_constraints is to prevent users to validate accounting entries with a mismatch between the debit or credit amount and the amount in currency:
- in case of credit, you must have a positive amount in currency
- in case of debit, you must have a negative amount in currency
  This constraint avoid mistakes when users post manual entries.

We recently had 2 corn

[2015-02-19 13:36] alexis-via opened #151 "8.0 currency_rate_update: doesn't get company_id in the method _onchange_service()"
With an up-to-date code from account-financial-tools/8.0, when the method _onchange_service() is executed, if self.company_id.multi_company_currency_enable is True, we have:

[code]

But, if you print this variable in the code, you have:

[code]

So then the variable "currencies" doesn't have any values, so you can't select the currencies that needs to be dowloaded for this webservice.

[2015-02-19 13:47] guewen commented on #151
Looks similar to https://github.com/odoo/odoo/pull/5203

[2015-02-19 14:56] alexis-via commented on #151
Thanks for pointing out this interesting bug report.

My code of odoo is just 2 days old, and the fix for the bug on odoo has been merged 8 days ago. So it's probably another issue...

[2015-02-20 09:20] feketemihai commented on #151
Even with that pull i think the function must be changed...looking at https://github.com/odoo/odoo/commit/2eb3ad2b460a4cbe832549c81aa71ba8614296ae
where i think it's the same...

[2015-02-23 16:47] lucmaurer opened #154 "account_check_deposit : why not using same as v8 bank statement"
Hello,
I don't understand why the check_deposit module doesn't use the same mechanism as the v8 bank_statement ?

I think check_deposit is not different than a bank_statement with a specific check journal and perhaps a specific report.
I understand that we could have a new menu, but I think the form should be the same than the v8 bank statement with the same way of reconcilation.

What do you thin

[2015-02-23 17:06] sebastienbeau commented on #154
Hi Luc, great to see you on github ;)
First of all this module have been design on 6.1 and then ported to 7 and 8. We maybe can make some change for 8.
For the reconciliation we initially didn't use the bank_statement because the bank statement didn't get the behaviour needed for the check_deposit.

The aim of the check_deposit is to select a group of customer "check" then to create a "check_depos

[2015-02-23 17:14] lucmaurer commented on #154
Hello Seb,

Many thanks for your answer.

If I understand well that mean that you decide when you create the invoice that your customer will pay by check. For me a check is "just" a payment mode. We could imagine create an invoice and we don't know the payment mode he will use.

My scenario was:
- create the invoice (we don't know how he will pay)
- we receive a check
- we create a check deposit a

[2015-02-23 19:55] sebastienbeau commented on #154
Ok, I understand.
The check deposit is not used for creating the payment, but for the deposit to the bank.
In my case I have two step. First step is registring the payment (most of the time my customer use the module sale_quick_payment to register a payment from the sale order). This payment will generate an account move line from the customer account (411 in France) to the check account (5112 in

[2015-02-24 13:36] #154 closed, assigned to sebastienbeau

[2015-03-13 13:40] Aquilog opened #171 "account_chek_deposit"
Hello,

I coded a small improvement on your module
new field : target_amount
You can then filter checks so your remittance will reach just above this target amount
How can I share ?

[2015-03-13 13:41] pedrobaeza commented on #171
Please make a PR against the main branch.

[2015-03-13 13:42] Aquilog commented on #171
I'm new to github, what do you mean by PR ?

[2015-03-13 13:43] pedrobaeza commented on #171
PR = Pull request: https://help.github.com/articles/creating-a-pull-request/

[2015-03-13 14:05] Aquilog commented on #171
Thank you.
I'll try

_Guillaume JULLIEN_

www.aquilog.fr

Mobile  06 24 68 25 24
Fax     05 57 96 83 58
Mail    g.jullien@aquilog.fr mailto:g.jullien@aquilog.fr
Web     www.aquilog.fr http://www.aquilog.fr

Le 13/03/2015 14:43, Pedro M. Baeza a écrit :

[2015-04-01 02:27] falinwa opened #179 "Currency rate update module, Cannot convert anymore since 2015-03-04"
Hi,

Since march 5 2015, we cannot convert anymore.
The service that we used is Yahoo.
Is there something wrong?

2015-03-02 04:32:35 currency updated.
2015-03-03 04:33:24 currency updated.
2015-03-04 04:33:07 currency updated.
2015-03-05 04:47:25 ERROR : could not convert string to float: N/A
2015-03-06 04:33:22 ERROR : could not convert string to float: N/A
2015-03-07 04:33:12 ERROR : 'Yahoo_get

[2015-04-06 17:45] Assem opened #181 "Missing context in _check_max_delta_days"
Hello,

Can you please add a parameter context to the _check_max_delta_days function in currency_rate_update.py : I think it's the standard and It add flexibility.

Branch 7.0

Thkx,

Assem Bayahi

[2015-04-08 02:06] falinwa commented on #179
Both for version 7 and version 8 doesn't work anymore.
Our country is in China.
Is this issue just happen to us?

I check that only Yahoo that not worked.

[2015-04-09 22:15] pjmcdermott opened #186 "currency_rate_update not updating EUR currencies when base currency != EUR using ECB feed"
I am using the currency_rate_update module on Odoo 8.0.20150330.

My base currency is GBP and I have additional working currencies USD and EUR. I am using the ECB update method.

For "currencies to update with this service" I have set USD and GBP. _I am unable to select a EUR option_. Now I realise that the ECB rates provided are conversion _rates_ from foreign currencies to Euros. But from my per

[2015-04-09 22:39] pjmcdermott commented on #186
Hey! I found out that the update service was coded to handle the case described above, it's just that the EUR currency was missing from <code>ECB_supported_currency_array</code> in <code>model/currency_rate_upate.py</code>. Adding "EUR" to the array allowed me to select EUR as a currency to be updated.

Please see the diff below:

[code]

I'm afraid my github skills are not that great so I can't d

[2015-04-14 21:48] ernesto-gm opened #189 "[8.0][account_partner_required] AccessError"
Employee Payslip AccessError.
## Impacted versions:
- 8.0
## Steps to reproduce:
- sign in with an user without accounting permission
- create a new Employee Payslip
- Set accounts on Salary Rules of Structure
- Set required fields
- Click on "Confirm" button

https://www.youtube.com/watch?v=SGspTnUN9YE&feature=youtu.be
## Current behavior:

AccessError Message
https://docs.google.com/file/d/0B2UF

[2015-04-24 14:47] yvaucher commented on #186
Fixed by #187

[2015-04-24 14:48] #186 closed, assigned to nobody

[2015-05-01 15:11] yvaucher commented on #181
@Assem Could you do a pull request for that ?

[2015-05-01 15:32] Assem commented on #181
https://github.com/OCA/account-financial-tools/pull/182

[2015-05-05 16:00] dstags-LO commented on #179
We are experiencing the same issue. Any news on this?

[2015-05-06 03:56] falinwa commented on #179
yes, we still waiting too, right now we just change the web services that we used.
Yahoo is not worked anymore.

[2015-05-06 10:46] VimalRughani opened #207 "Odoo Currency Convertor error"
Hi
I have installed Odoo from bitnami and install your latest module for currency conversation. I am generating payslips in different currency for different users. Payslips are generated properly, journal entries are generated properly, but when I check actual account, amount was not deducted properly. Currency conversation was not made properly. So I have check log of that your module and found b

[2015-05-06 15:54] dstags-LO commented on #179
Since we are unable to wait for a resolution, we dug into the code and fixed this issue.

It appears that the original URL utilized by the Yahoo API is no longer valid as manually calling it returns a 404 error. Reading into the API, I've reformatted the URL to properly return the csv file used for parsing the rate. Below is a snippet of the code I changed in currency_rate_update.py to get this wo

[2015-05-07 05:36] eLBati commented on #44
I think this can be closed

[2015-05-07 05:36] #44 closed, assigned to nobody

[2015-05-07 10:05] Assem opened #208 "currency_rate_update v7 : Issue in 7.0.0.8 post_migrate script"
Hello,

When trying to update my Odoo, I get an error because of the post_migrate script of the v7 branch:
  File "currency_rate_update/migrations/7.0.0.8/post-migrate.py", line 39, in migrate
  File "currency_rate_update/migrations/7.0.0.8/post-migrate.py", line 25, in rename_states
ValueError: need more than 1 value to unpack

[2015-05-07 10:07] Assem commented on #208
Pull request: https://github.com/OCA/account-financial-tools/pull/209

[2015-05-08 08:03] intero-chz opened #210 "[8.0] Exception: date in context equals datetime in currency_rate_date_check"
Hi,

https://github.com/OCA/account-financial-tools/blob/8.0/currency_rate_date_check/currency_rate_date_check.py#L76

rate_date_dt  is always a date object (line 76)

if the date in context is equivalent to a datetime, date_dt will be a datetime object (line 80)

and that will raise an exception in line 82 (TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date')

In

[2015-05-08 11:36] Assem commented on #208
https://github.com/OCA/account-financial-tools/pull/211

[2015-05-08 11:36] #208 closed, assigned to nobody

[2015-05-08 14:18] intero-chz commented on #210
I've created a PR to this issue: https://github.com/OCA/account-financial-tools/pull/212

[2015-05-25 18:01] alejandrosantana opened #219 "[8.0] account_reset_chart: Unable to delete"
@StefanRijnhart
I have just tried to reset a chart of accounts with _account_reset_chart_ in v8.0, following the brief example in README file.
Everything OK till `client.execute('res.company', 'reset_chart', 1)`, that raises this:

[code]

Server log gives no warning, but they show this:

[code]

I tried with both the chart of accounts module installed and uninstalled, with same lack of luck.

Any

[2015-05-26 04:20] StefanRijnhart commented on #219
Yes, I believe this is fixed in the existing PR https://github.com/OCA/account-financial-tools/pull/193. Please test and review!

[2015-05-28 21:44] alexis-via commented on #151
This bug still exists with an up-to-date Odoo v8 :-(

[2015-06-03 09:17] Jeelkhanpara commented on #179
I check manually this url='http://download.finance.yahoo.com/d/quotes.csv?s=%s=X&f=sl1c1abg'
it shows in .csv file
 =X N/A N/A N/A N/A N/A
it means Not Available.

[2015-06-03 12:18] dstags-LO commented on #179
%s is the variable passed into the URL intended to represent the currency you are trying to get a quote for. The reason it is returning N/A is because it doesn't know what currency you are trying to get rates for.

See This note:

Using YQL with the Yahoo Finance table (yahoo.finance.quotes) linked by NT3RP, currencies appear with symbol="ISOCODE=X", for example: "ARS=X" for Argentine Peso, "AUD=X

[2015-06-03 13:04] Jeelkhanpara commented on #179
hi,I Set url as you suggest , but log shows
 !!! 2015-06-03 18:16:27.890209 not all arguments converted during string formatting !!!
My main currency is INR and Not Update any Currency Rate.

Have you change code in other area.

[2015-06-04 05:37] Jeelkhanpara commented on #179
Have you any idea for me.what to do for currency rate update?.
Please Help me...

[2015-06-04 12:17] dstags-LO commented on #179
Since INR is the currency you are trying to get rates for, manually try this URL by copying and pasting into your browser window. It should return a csv file containing the FX for INR using USD as the base currency where USD = 1.

http://download.finance.yahoo.com/d/quotes.csv?s=INR=X&f=sl1c1abg

Steps:

1) Find your currency_rate_update module located in your addons directory under openerp. (In m

[2015-06-04 13:21] Jeelkhanpara commented on #179
Here is the class as it exists in my implementation openerp v5:
#Yahoo ###################################################################################
class Yahoo_getter(Curreny_getter_interface) :
    """Implementation of Currency_getter_factory interface
    for Yahoo finance service"""

[code]

and Log is

 currency updated at 2015-02-23 14:41:45.762483
 currency updated at 2015-02-24 14:12

[2015-06-04 14:11] dstags-LO commented on #179
Change your function call in the yahoo getter class (See my previous post above) to the code I've pasted below. Your error is because it is trying to identify where to insert the variable into the URL call and can not find the insert point which is represented by a %s. The URL you have formatted is also missing =X so it is improperly formatting your URL for calling Yahoo. Also, you are running v5

[2015-06-05 20:08] antespi opened #232 "[8.0] account_chart_update taxes updating"
We have detect some issues when updating Spanish Account Chart:
- If template tax has change its parent_id field, this change is not detected and then this tax is not updated
- If there is a current tax deactivated with the same description as a template tax, then wizard do not re-activate this tax nor create a new one.

We tried to resolve these issues in this PR: https://github.com/OCA/account-f

[2015-06-07 22:46] pedrobaeza commented on #232
You can put directly this issue text in the PR that solves it if you want. I see issues like a previous step if there is no PR, or the PR is going to take some time.

Also, you can put in the commit text "Closes #issue_num" to automatically close the issue when the PR will be merged

[2015-06-08 10:26] antespi commented on #232
Ok, thank you. I'll do this way next time

[2015-06-09 08:49] yvaucher opened #233 "Transifex password not recognized"
Travis failed on transifex:

https://travis-ci.org/OCA/account-financial-tools/jobs/65095319

I checked on:
https://github.com/OCA/maintainer-quality-tools/issues/194

The key seems right.

@bwrsandman any idea?

[2015-06-10 07:17] bwrsandman commented on #233
I made a mistake last week but fixed it after. https://travis-ci.org/OCA/account-financial-tools/builds/65235487

[2015-06-10 07:17] #233 closed, assigned to nobody

[2015-06-11 18:33] #232 closed, assigned to nobody

[2015-06-19 06:54] leio opened #240 "[8.0] account_chart_update: object has no attribute '_tax_mapping'"
Something from commit 3f3f59c16 seems incomplete, as a reference to self._tax_mapping remains in _prepare_account_vals, which causes traceback on actual trying to update things:

  File "/home/leio/.local/share/Odoo/addons/8.0/account_chart_update/wizard/wizard_chart_update.py", line 1006, in _update_accounts
    account_template, mapping_taxes, mapping_accounts)
  File "/home/leio/.local/share/Od

[2015-06-19 18:09] pedrobaeza commented on #240
Please check #241 for the fix of the issue.

Thanks for reporting.

[2015-06-20 13:09] #240 closed, assigned to pedrobaeza

[2015-07-10 11:40] guewen opened #254 "Transifex build failed on 8.0"
Due to the following error, the Transifex build failed on eed478435800bdc1bc21db03aa43f788cdec4257:

[code]

[2015-07-22 12:35] alexis-via opened #262 "8.0 crash in account_credit_control"
I have a crash when creating a new partner:

[code]

The cause of the issue is in account-financial-tools/account_credit_control/partner.py on the last line : "api.ValidationError" is not good. @guewen it seems you are the author of this code...

By the way, @api.constrains('credit_policy_id') needs to be updated to @api.constrains('credit_policy_id', 'property_account_receivable') (it is works to

[2015-07-24 10:18] sbidoul opened #265 "account_reversal: cannot reverse a move that is in a closed period"
How to reproduce:
- create move M in period P
- close period P
- try to reverse move M in period P+1
- => You can not add/modify entries in a closed period P of journal ...

This is due to https://github.com/OCA/account-financial-tools/blob/8.0/account_reversal/account_reversal.py#L88 which tries to write on the original move.

[2015-07-24 10:30] falinwa commented on #179
I think this must be merge with the fix?

[2015-08-07 10:57] ariedeleen opened #272 "Refresh currencies gives AttributeError in log"
Installed in Odoo8 the currency rate update module version 8.0.0.7

But after hitting the Refresh currencies button there are errors messages in the log
Like this:

AttributeError("'YAHOO_getter' object has no attribute 'MOD_NAME'",)
AttributeError("'ECB_getter' object has no attribute 'MOD_NAME'",)

And currency is not updated

so, what goes wrong.

[2015-08-12 08:27] ariedeleen commented on #272
Solved, there was a DNS resolv misconfiguration. After fixing that it worked fine.

[2015-08-12 10:39] #272 closed, assigned to nobody

[2015-08-14 14:10] adrienpeiffer commented on #254
Hi @guewen,
Indeed, this issue was introduced by https://github.com/OCA/account-financial-tools/pull/252.
A solution could be change the custom_mail_text field type by HTML to conserve carriage return define in this field.
What do you think ?

[2015-08-15 15:09] #265 closed, assigned to sbidoul

[2015-08-15 17:35] sbidoul commented on #262
Fixed by merge of #263

[2015-08-15 17:35] #262 closed, assigned to nobody

[2015-08-19 22:13] moylop260 opened #280 "[8.0] account_move_batch_validate: ImportError: No module named connector"
My project use this one and today I had next error:

[code]

This is by next issue:
https://github.com/odoo/odoo/issues/7507

This needs to add a `try-except ImportError: log.debug` sentence similar to [CONTRIBUTING.md#importerror](https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md#importerror) to don't force my project to use other one that we don't use.

[2015-08-19 23:55] jjscarafia commented on #280
For now I've suggested this PR #279, the problem comes with the static folder and icon add.

[2015-08-19 23:55] jjscarafia commented on #280
:+1:

[2015-08-20 07:20] #280 closed, assigned to pedrobaeza

[2015-09-22 21:25] alexis-via opened #301 "8.0 currency_rate_update: failed update blocks all future updates"
I am experiencing this issue with several customers in v8.0 that use currency_rate_update with a simple configuration:
- 1 service provider
- cron activated with a daily frequency
  If, for some strange reasons, the field next_run is not correctly updated on one particular run (I still need to understand exactly why), the future runs will fail because of the line of code:

[code]

This is a new be

[2015-09-23 04:28] feketemihai commented on #301
@alexis-via Hi Alexis, yes i think this is a good sollution, it was already spotted by @dhongu in https://github.com/odoo-romania/l10n-romania/issues/76 when we started to use the ported module to v8, but not enough time to make the PR.

The ideea is how to handle the recompute of the next_run field, since the calculation is from old value of next_run plus the interval, let's say you will have a d

[2015-09-23 06:54] feketemihai commented on #301
@alexis-via It is because the service is launched, but if you have a frecvency of 1 week, month, this will not respect the date that you want...let's say you want to update on monday's...the service doesn't launch on monday...so you will not get the right rate...it is launched then on tuesday...so you will get the wrong rate...but it will compute the next_run to the next monday...

[2015-09-23 06:54] pedrobaeza commented on #301
But I don't get why we need to change next_run manually on each run. Why just simply change the frequency and other static parameters when configuring the update?

[2015-09-23 06:57] feketemihai commented on #301
@pedrobaeza You don't need to change it manually, it's computed when the cron is executed...only in the situation when the cron doesn't finish...the value will remain the same...

[2015-09-23 07:00] pedrobaeza commented on #301
That's why I'm saying. Cron itself can update this value, why making that manually?

[2015-09-23 07:03] feketemihai commented on #301
With the fix, changing the "=" to "<=" it will change the next_run, but like i said, it will get you a wrong rate when using week, monthly frecvency and if you are using daily the next_run will remain always in the past...

[2015-09-23 07:04] alexis-via commented on #301
@pedrobaeza I agree with your question. I don't understand the advantages of this new code with the next_run parameter ; I would prefer to remove it altogether than just make my small stupid patch. We should ask the author of the code to explain us why he developped it like that.

[2015-09-23 07:11] feketemihai commented on #301
I ported the module to V8 and in V7 the only option to configure the rate frecvency was to modify the cron frecvency, in V8 the cron will be launched daily and update the rates on the frecvency that you set in the service...because if you have 2 services, one that you want to do it daily, the other monthly in V7 you had 2 crons, in V8 only one cron that will update all the services based on next_r

[2015-09-23 07:16] pedrobaeza commented on #301
Well, that can be a reason, although it's very weird that you set different frequencies for the services, but why then rely on next_run and not create a field on each service definition to store last run instead? You only have to check if last_run + frequency <= today.

[2015-09-23 07:19] feketemihai commented on #301
Yes...but on a weekly scheduler on monday which was not executed you will still get the wrong value...a rate from tuesday...and last_run  + frecvency will get you the tuesday's rates instead on mondays...

[2015-09-23 07:25] pedrobaeza commented on #301
I'm not worried about that: you are providing the correct rate for the correct rate, although with a jump. Providing a way to notify the admin and to retrieve a rate for a specific date, the circle is closed.

Even thinking your fully-automated scheme, you just simply run multiple times between last_run + frequency date to today incrementing each time the frequency required, but breaking the loop

[2015-09-23 07:35] feketemihai commented on #301
That's why i used the "=", but probably it's worth to compute next_run even if the cron fails with an error...so you will not get the rate for that date but you will have the next_run correctly...what do you think?

[2015-09-23 07:36] pedrobaeza commented on #301
I think you shouldn't touch next_run and let the cron work as usual, and play with the other variable as I'm mentioning.

[2015-09-29 08:45] #254 closed, assigned to nobody

[2015-10-01 12:02] saltonmassally opened #304 "Adding the concept of asset location to an asset"
I think asset location needs to be added to asset... if the OCA team is in agreement I can do this and create a PR

[2015-10-06 18:29] luc-demeyer commented on #304
If you do this, please do it in a separate module.
There is really a lot of difference between the management of financial assets versus non-financial assets a company has. Once you start adding a field like an address, the next thing is e.g. an employee using the asset, etc, etc.
Having a module in the OCA for managing company assets in general and add a link between the two would be great.

[2015-10-06 18:56] saltonmassally commented on #304
@luc-demeyer thanks for your response... i guess I got Fixed asset and financial asset mixed up

[2015-10-06 18:56] #304 closed, assigned to nobody

[2015-10-14 00:18] pedrobaeza opened #311 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] account_asset_depr_line_cancel - By @chienandalu - #490
- [ ] account_asset_management
- [ ] account_asset_management_xls
- [x] ~~account_auto_fy_sequence~~ - Not needed anymore - #321
- [ ] account_balance_line
- [ ] account_cancel_invoice_check_payment_order
- [ ] account_cancel_invoice_check

[2015-10-16 11:39] vrenaville commented on #311
@yvaucher I currently work on account_tax_analysis for V9

[2015-10-16 11:49] yvaucher commented on #311
@vrenaville Thanks I added you, let me know where a PR is opened I'll add the link

[2015-10-26 13:23] vrenaville commented on #311
@yvaucher I will also migrate account_constraints

[2015-10-26 13:34] yvaucher commented on #311
updated

[2015-11-03 23:23] #301 closed, assigned to nobody

[2015-11-06 01:37] AizenL opened #323 "account_move_line_search_extension Error"
Hi,  Just Installed This module and Im Receiving this error:
Odoo Version 8.0

Uncaught TypeError: viewclass is not a function
/web/js/web.assets_backend/7812b85:3143

Try it: You have to go to Accounting -- Journal Entries -- Journal Items Search All
http://111428-8-0-0ea130.runbot.odoo.com/web?db=111428-8-0-0ea130-all

[2015-11-06 09:39] luc-demeyer commented on #323
I tried to reproduce the problem by clicking on the runbot URL but I couldn't even get into the accounting menu, hence something seems to be completely wrong with this runbot,build.
Which is the PR at the origin of this build (if any) ? Are there other ways to reproduce this problem (e.g.which combination of installed community modules is causing this problem) ?

[2015-11-09 10:41] AizenL commented on #323
Hi, even with a base Installation this module is not working.
http://112074-8-0-7a0a64.runbot7.odoo.com/
admin:admin

The error is marking this line as invalid only when the module is activated and I click on the menu created.

var controller=new viewclass(this,this.dataset,view.view_id,options);controller.on('history_back',this,function(){var am=self.getParent();if(am&&am.trigger){return am.trigg

[2015-11-09 19:27] luc-demeyer commented on #323
I don't know how you come to this runbot build but you should have version 8.0.0.6.0 of the "account_move_line_search_extension" module whereas I see in the runbot module list as latest version "8.0.1.0".
Please make sure that you use the latest 8.0 version of this module which you can download from https://github.com/OCA/account-financial-tools/

[2015-11-18 10:23] thomaspaulb opened #330 "account_reset_chart: Hangs, server unresponsive"
I ran the script with erppeek as suggested.
It is already stuck for 12 hours with CPU level of Python at 100%.

In the beginning I could still use the server, but not anymore, it has become unresponsive.

Should I wait for the script to finish or is it a lost cause?

[2015-12-10 17:53] cunguito commented on #207
any update on this bug?

[2015-12-13 22:45] #219 closed, assigned to nobody

[2015-12-22 23:14] tamarp opened #338 "Odoo 8 Currency Update Module - Error"
Configuration set to automatic update.
Using Bank of Canada to update USD currency but getting this error when trying to refresh currency:
ERROR : except_orm(u'Error !', u'Exchange data format error for Bank of Canada - USD !')

[2016-01-14 01:29] ddico commented on #338
Please see #196. Hopefully it will be merged soon.

[2016-02-01 10:21] alexis-via opened #345 "8.0 account_credit_control: date_sent is always False"
In account_credit_control/line.py (https://github.com/OCA/account-financial-tools/blob/8.0/account_credit_control/line.py#L57), there is a field 'date_sent'. This field is displayed in the form view of credit.control.line, but it is not set anywhere (a grep on date_sent only brings the form view and the definition of the field).

I think it's a mistake and it should be set when the state of the li

[2016-02-10 08:03] gurneyalex opened #352 "account_asset_management: tests are red"
the tests of account_asset_management are red.

https://travis-ci.org/OCA/account-financial-tools/jobs/108216715#L249

[2016-02-10 08:04] gurneyalex commented on #352
@luc-demeyer could you look into this, please?

[2016-02-23 10:15] pjmcdermott opened #358 "Help migrating currency_rate_update to 9.0"
I'm attempting to migrate `currency_rate_update` to 9.0c. I think I'm about 75% done.

The one area I am stuck on is the `_compute_multi_curr_enable` method of `res_company`.

`company_id` no longer appears to be a property of the `res.currency` model. It is not clear to me what this method is intended to indicate. Multi-currency functionality for the company is indicated by the "Allow multi curre

[2016-02-24 09:30] kittiu opened #360 "Is addon: "account_check_deposit" use correct account_id for counterpart?"
I have played around with account_check_deposit and I like it overall. But to my understanding, the counterpart move line should be using account_id form Account Journal of the selected Bank, isn't it?

Now, I see the system always use "Account for Check Deposits" from company, and ignore what ever Bank user  selected.

Am I missing something?
Thank you,

[2016-02-29 14:08] coodec commented on #360
As I understood from the readme, that account will be used while the check hasn't been sent to the deposit and when the deposit is done, the bank account will be used.

I'd like to migrate this module to v9. Which version are you working with?

[2016-03-02 03:16] manamirfhk opened #365 "[7.0] [account_journal_entry_posted_async] TypeError: job() got an unexpected keyword argument 'default_channel'"
- module: account_journal_entry_posted_async
- version: 7.0

**Current behavior**

When clone this repository to server and start openerp-server, the following error is logged and 'No handler found' is shown on web.
Although no database has installed this module, openerp-server could not been started.

[code]

config file is as follows.

[code]

@lmignon If you have ideas, could you please let me

[2016-03-02 07:32] guewen commented on #365
2 things:
1. What version of the `connector` addon do you use? According to the traceback, I think it is too old.
2. `ODOO_CONNECTOR_CHANNELS` is an environment variable not an option of the configuration file

[2016-03-02 07:34] guewen commented on #365
Misread, I didn't see that you didn't installed the addon. Could you try with this patch? https://github.com/OCA/account-financial-tools/pull/364

[2016-03-02 08:49] manamirfhk commented on #365
Thanks @guewen
I understood `ODOO_CONNECTOR_CHANNELS` is not an option of .conf file

I tried the patch #364, but encountered the same error..

[2016-03-02 08:51] guewen commented on #365
I think you have an out-dated version of `connector` in your addons-path.

[2016-03-02 09:20] manamirfhk commented on #365
@guewen OK, thanks. There maybe things to be checked by us. I will get back to this.

[2016-03-03 01:07] lapagept opened #366 "How to generate my opening entries if I alway get this error?"
Hello there,
I have account_constraints installed.  I don't find a solution to generate my opening entries in my accounting.
I always get this error. How to correct the situation?

Error :
                 _('You cannot do this on an entry generated by a bank'
                      ' statement. '
                      'You must change the related bank statement'
                      ' directly.\n

[2016-03-04 04:05] manamirfhk commented on #365
I agreed our `connector` repository is too old. We decide to remove this module from the repository, or add only modules in the repository that we will use.
I will close this issue. Thanks!

[2016-03-04 04:05] #365 closed, assigned to nobody

[2016-03-17 13:59] sbidoul commented on #352
Tests are red because we are in a bissextile year... one more day in pro-rata temporis depreciation. Funny, sort-of.

[2016-03-17 14:20] pedrobaeza commented on #352
Is there the possibility of being fixed?

[2016-03-17 14:24] sbidoul commented on #352
of course

[2016-03-21 15:19] sbidoul commented on #352
Fixed by https://github.com/OCA/account-financial-tools/commit/f61268e12e7a7684d9103ff72bebe39c4785a610

[2016-03-21 15:19] #352 closed, assigned to sbidoul

[2016-03-30 03:01] afwanwh commented on #358
same problem here. Hopefully someone could help on this issue.

[2016-04-14 11:32] oremacle opened #374 "account_reset_chart Integrity Error"
module: account_reset_chart
version: 8.0
- Module installed on database with Swiss account chart

**Current behavior**
Run the part of code provided
`import erppeek

host = 'localhost'
port = '8069'
admin_pw = 'admin'
dbname = 'test'

client = erppeek.Client('http://%s:%s' % (host, port))
client.login('admin', admin_pw, dbname)
client.execute('res.company', 'reset_chart', 1)`

I've get this error

[2016-04-26 13:43] StefanRijnhart commented on #82
Closing as proposed workaround was merged.

[2016-04-26 13:43] #82 closed, assigned to nobody

[2016-05-02 14:40] yvaucher commented on #358
Please see https://github.com/OCA/account-financial-tools/pull/363

[2016-05-04 15:39] yvaucher commented on #358
Ok redirected on #318 which now includes #363

For _compute_multi_curr_enable it seems we simply removed it. Please review the PR to check if it works as expected.

I'm closing this issue

[2016-05-04 15:39] #358 closed, assigned to nobody

[2016-05-04 15:40] yvaucher commented on #338
#196 has been merged

[2016-05-04 15:40] #338 closed, assigned to nobody

[2016-05-16 08:48] yajo commented on #311
I'm starting work to migrate `account_renumber`.

[2016-06-30 15:10] ghost commented on #311
#318 merged

[2016-07-14 14:07] pascon opened #389 "Take currency exchange rates from new Polish National Bank API (NBP)"
NBP released simple Web API for taking currency exchange rates. Please update module **currency_rate_update** to take data from this more reliable source.
Currently data from NBP is taken from released once a day xml files which need parsing.
Web API allow to get data both in XML and JSON with easy access through HTTP GET. More information available on http://api.nbp.pl/en.html.

Thanks!

[2016-07-26 00:07] aduijs opened #391 "[v9] rates not updated"
The exchangerates i have put for USD and EUR arent updating.
- company default is set to Peruvean Sol (PEN)
- workers are running and i see the automated action "Currency Rate Update" being updated to a new day 1 day ahead.

but the log of the webservice on the  accounting -> Currency Rate -> Updatecurrency.rate.update.service,1  stays empty and the one time set exchangerate isnt changing.

am i m

[2016-07-30 15:43] aduijs commented on #391
Any idea?  Could this be because Odoo is ran by WSGI and the cron workers are runned by a "normal" odoo.py cli start up?

[2016-08-13 02:12] edser-pcg opened #398 "[9.0c] Add or Subtract a defined value"
Hello!

I've been trying to figure out how I could include in the code a subtract or add so that it could get a more favorable rate. Is there anyway I can do this?

What I mean is that the module is working fine, the only thing is that when ie. you're from Canada and go to the bank to buy USD, the rate shown in all these services is less than what you really have to pay to get that amount. So if I

[2016-08-13 03:31] elicoidal commented on #398
@edsersolis
Thanks for your interest in OCA modules
Which module are you refering to?
Usually in Odoo, difference is manually booked during reconciliation either in bank charge or FX exchange difference account. Meaning you book the 13000 in your bank statement and match it with 12700 with a write-off

[2016-08-13 04:53] edser-pcg commented on #398
Hello Eric, thanks fpr your reply. The module is currency_rate_update.

Yes but the thing is that, some users don't know much accounting and others
would like to get that value automatically when applying a payment to an
invoice.

Atentamente,

Edser G. Solís

Ingeniero en Tecnologías de la Información y Comunicación | MDETI(c)

Móvil: 829.920.2009

: : Mensaje enviado desde dispositivo móvil. : :

[2016-08-13 07:21] elicoidal commented on #398
this module is only about updating the currency rate automatically and your question is not related to its usage.
The question you have seems a general one for standard Odoo. I would suggest that you check the documentation (https://www.odoo.com/documentation/user/9.0/accounting.html) or the user forum (https://help.odoo.com).
In the meantime, I will close this issue. If you think it should be reo

[2016-08-13 07:21] #398 closed, assigned to nobody

[2016-08-29 17:50] axatech01 opened #400 "Odoo 9, Currency Rates Updade module - Date and inverted convertion errors"
Hi,
I've been playing around with the Currency Rate Update module, I have added our national bank currency rate and everything run as expected from the Currency Rate Update module Getter called NI-BCN but at the end of the running process when the currency exchange is posted on the Currency schema the date and currency are wrong.

For excample, today's currency (2016-08-29) is 1 USD = 28.8439 NIO

[2016-10-06 12:46] pedrobaeza opened #406 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] account_asset_depr_line_cancel - By @chienandalu - #488
- [ ] account_asset_management - By @adrienpeiffer - #441
- [ ] account_asset_management_xls
- [x] ~~account_auto_fy_sequence~~ - Not needed anymore
- [x] account_balance_line - By @mourad-ehm - #468
- [ ] account_cancel_invoice_check_pay

[2016-10-11 15:28] rosenvladimirov opened #409 "Fix for currence rates - 8.0"
I made a few fixes to the modules currence rate update (date) . If there iteresnite please make them in this repository. https://github.com/rosenvladimirov/oca-patches.git

[2016-10-20 13:06] adrienpeiffer opened #413 "Asset Management : create an asset per product item"
Currently, it's not possible to create an asset per product item if there are more than one item of a product on the same invoice line.

Let me take an exemple:

If I have an invoice line for 10 quantity of DELL Latitude E6540. it's not possible to have one asset per computer. In this case, it's more correct to have one asset per item because each life cycle can be different.

A solution will be t

[2016-10-25 18:22] luc-demeyer commented on #413
I have this exact same case in our install base.

We currently work around it by different techniques:

1)      normal purchase on interim or  expense account for the purchase of the computers, followed by a ‘miscellaneous’ accounting entry which credits the account gaused for the purchase and has a debit asset account per laptop.

2)      For some customers we have linked the asset module with a

[2016-10-25 21:20] adamrumjahn opened #414 "Rounding Error"
I believe this is a bug:

My base currency is Colombian Pesos.
I installed the module and chose Yahoo Finance as the Webservice and added USD.

Currently the exchange rate is 0.00341USD per COP (2932COP/USD).
However, when I update, it sets the currency to 0.000300 (3333.33COP per USD).

This obviously creates a big difference with the rounding errors, especially when we are dealing with currencie

[2016-10-25 21:29] adamrumjahn commented on #414
I forgot to mention, I already set the Price Accuracy accordingly

Price Accuracy
Rounding Factor
0.000001
Decimal Places
6

It still rounds to 4 decimal places, ie/ 0.000341 will still be 0.000300.  I checked online on Yahoo Finance and it does indeed state that the current rate is 0.000341.  So something is being lost in translation here.

[2016-10-31 12:49] adrienpeiffer commented on #413
Hi Luc,

Thanks for your answer.

What do you think about the possibility to split the invoice line with one account move line per product item automatically? This behavior won't modify the asset management process. Also, we can imagine to have a parameter to set that directly in the asset category. So, if we have an invoice line with a category which is marked as 'Split invoice line per product i

[2016-11-01 15:03] luc-demeyer commented on #413
Looks ok to me.
Don't forget to document this new parameter in the README.rst.

[2016-11-03 10:41] adrienpeiffer commented on #413
Solution provides by #417

[2016-11-03 10:41] #413 closed, assigned to nobody

[2016-11-11 11:43] mustafat commented on #409
How XML?

[2016-11-11 12:55] rosenvladimirov commented on #409
https://github.com/rosenvladimirov/odoo-patches.git

[2017-01-01 20:14] CAGIGAL-Computer opened #431 "account_auto_fy_sequence: error when running on multicompany scenario"
Hi I have one multicompany scenario running OpenERP 7, then I have many sequences for Sales Order, one per company, so when a user wants to create a new Sales Order the system raises an error:

[code]

I think is because the module will find more than 1 ir.sequences that have a sequence type = 'sales.order': one per company.

[2017-01-04 17:53] damendieta commented on #414
This is not the place for this, you should ask for help on the correct chanels, like stackoverflow or odoo forum. This Issue should be closed.

But: I think your problem is the accuracy on the currency, not the price, as Odoo will round on your currency accuracy.

[2017-01-10 11:31] davidwul opened #437 "[9.0] currency_rate_update failed update rate"
I installed the currency_rate_update module on some database in v9. But each time I tried to update, there is nothing happening. I tried with Admin.ch and yahoo. On fresh database or migrated db.
What can I provide ?

Here is what I see from the console:

"POST /web/dataset/call_kw/res.currency/read HTTP/1.1" 200 -

But there is no new rate available.

[2017-01-10 15:12] 2zx opened #438 "[8.0] journal_id constraint problem on object save"
@api.constrains('journal_id') and related method _check_different_journal seems to be defined on class AccountMoveTemplateLine instead of AccountMoveTemplate

[2017-01-10 15:17] pedrobaeza commented on #438
Can you provide the patch as a PR?

[2017-01-10 15:32] 2zx commented on #438
Pull request created

[2017-01-10 16:39] pedrobaeza commented on #438
Closing as the PR is already merged.

[2017-01-10 16:39] #438 closed, assigned to nobody

[2017-01-12 17:31] adamrumjahn commented on #414
@damendieta I'm not exactly asking for help, I'm reporting a suspected bug.  This is not a rounding issue, but a rounding error.  When I set 6 decimal places it still rounds as it if were 4 decimal places.  this has adverse effects on the accounting if rounded incorrectly.  As I mentioned, I have only noticed it when it updates from Yahoo Finance.

[2017-02-28 09:00] NL66278 opened #453 "[7.0] account_constraints makes cancelling transactions on bank statement lines impossible"
When trying to cancel a transaction on a bank statement, the moves generated are unlinked. The account_constraints module prevents the unlinking with the message: "You cannot do this on an entry generated by a bank statement. You must change the relatedbank statement directly." But this is precisely what the user is trying to do.

[2017-02-28 11:15] NL66278 commented on #453
PR created. https://github.com/OCA/account-financial-tools/pull/454

[2017-03-16 22:37] mileo opened #463 "Parent chart of accounts like v8/v7"
Hi,

I found an module that include v8 parent concept in account chart

https://github.com/steigendit/addons-steigend/tree/master/account_parent

I can filter this branch and propose it to this repo if are any interest.

Best regards

[2017-03-17 02:52] pedrobaeza commented on #463
I prefer to have hierarchy on reports, not on data model.

[2017-03-17 16:51] mileo commented on #463
In Brazil, we need to relate the company's chart of accounts to the government's default chart of accounts, which has parent accounts.

And periodically send a file with the relationships between the plans and the accounting entries.

![image](https://cloud.githubusercontent.com/assets/1975978/24053553/2ee58064-0b18-11e7-9bbd-f04a6f265f58.png)

More info: http://sped.rfb.gov.br/estatico/A8/2A167D6

[2017-03-18 13:48] pedrobaeza commented on #463
OK, I think you can include the full hierarchy in a report with a fixed structure, but I recommend you to not mix with account.account model for avoiding the performance and functional problems.

[2017-03-24 12:52] pedrobaeza commented on #431
Your problem is because you are accessing through admin, which shouldn't be done in multi-company (not only for this).

[2017-03-24 12:52] #431 closed, assigned to nobody

[2017-03-24 12:54] pedrobaeza commented on #409
Please propose them as a PR

[2017-03-24 12:54] #409 closed, assigned to nobody

[2017-03-24 12:56] pedrobaeza commented on #374
Is this still happening?

[2017-03-24 12:57] pedrobaeza commented on #389
As this is only a request, I close as nobody has implemented it.

[2017-03-24 12:57] #389 closed, assigned to nobody

[2017-03-24 12:57] pedrobaeza commented on #391
I think the problem is you haven't set base currency.

[2017-03-24 12:57] #391 closed, assigned to nobody

[2017-03-24 12:58] pedrobaeza commented on #330
Yes, it's a time consuming operation.

[2017-03-24 12:58] #330 closed, assigned to nobody

[2017-03-24 13:01] pedrobaeza commented on #366
Not related to the module. It's an standard message.

[2017-03-24 13:01] #366 closed, assigned to nobody

[2017-04-14 00:38] max3903 opened #475 "partner_daytopay"
At @ursais, we have a module to compute some financial statistics for a partner:

* Average number of days to get customer invoices paid (in the current year)
* Average number of days to get customer invoices paid (lifetime)
* Average number of days to pay vendor bills (in the current year)
* Average number of days to pay vendor bills (lifetime)

I think this repository would be the best fit to ho

[2017-04-14 00:42] JordiBForgeFlow commented on #475
:+1: I think that this would be a good contribution!

[2017-04-14 11:04] pedrobaeza commented on #475
@jbeficent I don't agree that this is the best place. The best place is account-financial-reporting. Reporting is not only PDF or any format output. Reporting is also BI inside Odoo.

[2017-04-14 13:14] Danisan commented on #463
Is the performance actually affected significantly by the addition of this feature? Because I can see that is a good to have (almost a must-have).
I had several objections in the implementation of Odoo9 and 10 because of lack of this feature. Mean in Chile and Argentina, Especially when the decision is based on the opinion of professional accountants.
Pedro, is there a good report already implemen

[2017-04-14 16:47] pedrobaeza commented on #463
You can check https://github.com/OCA/l10n-spain/pull/480 to see if it fits.

[2017-04-20 00:37] #475 closed, assigned to max3903

[2017-04-23 04:24] kittiu opened #476 "[10.0] Want to propose a module that allow Bigger / Smaller currency rate option"
We have a module, it allow to use rate Bigger/Smaller when reference to Base Currency, so that we can always use rate > 1, instead of 0.0001 which can lead to digit inaccuracy.
Here is the module we did in v8
https://github.com/pabi2/pb2_generic/blob/master/res_currency_rate_ext

Want ask if there is already similar module in community. If not yet, is this module good to be in OCA?

[2017-04-23 13:16] elicoidal commented on #476
Please check: https://github.com/OCA/account-financial-tools/pull/337
I would suggest you collaborate to make this PR merged.

[2017-04-23 13:16] #476 closed, assigned to nobody

[2017-04-28 08:43] kittiu commented on #476
@elicoidal @jbeficent

I tried checking out the issue #337. It is a nice and simple approach. But as it is using the **1/rate**, it just won't compatible with the **currency_rate_update**, which is updating into **rate** field. (Otherwise we need to modify and the currency_rate_update to accept invert flag)

Our approach is a bit different. By providing, a new field **rate_input** for user to key

[2017-04-30 03:08] elicoidal commented on #476
@kittiu I am personally comfortable with the original implementation which IMHO covers most potential business cases but I agree the currency_rate_update is a good point.
@jbeficent: your thoughts?

[2017-05-05 06:29] andhit-r commented on #476
Hi @kittiu, i also need implementation of currency exchange method (direct/indirect). My #335 obviously not a proper way to go. @jbeficent #337 is the most proper way to go.

I already use #337 on out production (https://github.com/open-synergy/account-financial-tools/tree/8.0-dev). But the implementation also raise issue with account_multicurrency_revaluation. So i have to tweak that module (5eef

[2017-05-05 06:55] kittiu commented on #476
Hi @andhit-r
Personally I also like the simplicity for what @jbeficent has proposed. While waiting, I also though the same about glue module.
But I am not sure how OCA coding standard will welcome the glue module. Meaning, if user want to use both currency_update and currency inverted, he/she need this knowledge to install manually the glue one, right? Or there is other mechanism to warn user?
@el

[2017-05-05 06:57] andhit-r commented on #476
@kittiu that's when auto_install comes to the rescue. Gule module will have auto_install == True. So when user install bot currency invert and currency update glue module will be automatically installed.

[2017-05-05 07:07] kittiu commented on #476
@andhit-r auto_install can be triggered based what other has installed?

[2017-05-05 07:37] andhit-r commented on #476
Yes suppose that the glue module has currency_invert and currency_update as dependencies. And it has auto_install == True. As soon as user installed both currency_invert and currency_update, odoo will automatically install the glue module.

Although automatic install will not apply in these scenario:

* User already install currency_update
* currency_invert merge
* User install currency_invert
* g

[2017-05-08 15:57] kittiu commented on #476
@andhit-r thanks for all the input. I think I almost ready to start with your glue module. Just another one point. I saw you mentioned that, beside currency_rate_update, you also fact the same problem with account_multicurrency_revaluation, right? So, we will need the glue module for it as well?

Beside these two, if any other module in the future make use of field **rate**, we would need a glue m

[2017-05-08 15:59] #360 closed, assigned to nobody

[2017-05-09 15:55] kittiu commented on #406
@pedrobaeza can I help upgrade account_auto_fy_sequence? (I use it regularly)

[2017-05-09 16:59] pedrobaeza commented on #406
That one is not needed anymore since v9. It should be removed from this branch

[2017-05-09 17:04] sbidoul commented on #406
@pedrobaeza @kittiu the PR to remove it from 9.0 is pending since a long time: https://github.com/OCA/account-financial-tools/pull/321

[2017-05-09 17:05] pedrobaeza commented on #406
Yeah, and I suggested the migration script :wink:

[2017-05-09 17:36] kittiu commented on #406
Noted!

[2017-05-10 21:58] pedrobaeza commented on #406
I already did the script: https://github.com/OCA/OpenUpgrade/commit/b19f359b82b3da506e0ce16544b4ff395f44262f, so I remove the module.

[2017-05-15 14:25] kittiu opened #482 "Migration to 10.0 - account_invoice_tax_required"
@pedrobaeza Can I help migrate this module, account_invoice_tax_required?
Note: or if you see more in demand module that is not too difficult, please suggest.

[2017-05-15 16:20] pedrobaeza commented on #482
You can pick any unassigned module in https://github.com/OCA/account-financial-tools/issues/406 (or any other project or your like) and migrate it.

[2017-05-15 16:22] #482 closed, assigned to nobody

[2017-05-29 11:09] adrienpeiffer commented on #437
Hello,

I just tested this one on [runbot](http://3292251-9-0-e68712.runbot2.odoo-community.org/) and it works as expected. Perheps you miss to check the flag
_Automatic Update_ in the company's settings.
I'll close this one. Don't hesitate to reopen it if necessary.

[2017-05-29 11:09] #437 closed, assigned to nobody

[2017-06-05 04:00] gustavovalverde commented on #476
What happened with this subject?

[2017-06-05 04:50] kittiu commented on #476
@gustavovalverde we are waiting for the decision from the experienced person, I believe. At the end this kind module is needed either way.
Do you have comment?

[2017-06-05 04:51] kittiu commented on #476
@elicoidal do you think we should reopen this issue?

[2017-06-05 05:53] elicoidal commented on #476
@kittiu If you can find a use case not covered by original implementation/module, please reopen it.

The idea of glue module is a simple way to solve some of your request.

[2017-06-05 06:18] kittiu commented on #463
The accounting hierarchy report is also needed in our country. The implementation in Spain is quite interesting as it make sure the core feature is not touched (and as my limited knowledge goes, we only need hierarchy for reporting).
This l10n_es_account_hierarchy_report seem to be generic enough to be out of localization, is it not?

[2017-06-08 18:14] pedrobaeza commented on #463
@kittiu yeah, that module can have a generic part outside OCA/l10n-spain and then let data only in the localization module. Anyway, please check current Odoo PRs as they are introducing for v11 again a hierarchy in community based on a new model account.group. I can't find the exact number, but we should stick to the same scheme for easing the migration.

[2017-06-09 01:11] mileo commented on #463
@kittiu

https://github.com/odoo-dev/odoo/blob/master-account-hierarchy-jov/addons/account/models/account.py#L201

cc @aricaldeira

[2017-06-09 01:12] pedrobaeza commented on #463
Thanks for the pointer, @mileo

[2017-06-19 07:05] hongquangminh opened #506 "Error with test module account_journal_lock_date"
Hello!
In PR #505 i get some error related with module account_journal_lock_date. If i run test with account_parnt (new module) it have error. If i run test with out account_parent, it's ok.

I don't have idea. Please help me check it.

[2017-06-20 02:32] #506 closed, assigned to nobody

[2017-06-22 22:59] mileo commented on #463
Please see our comment at: https://github.com/odoo-dev/odoo/commit/bfa76a1789cde0aebdd779c881f7de6a2e0c9edf

[2017-07-07 22:21] cliffkujala opened #516 "[10.0] account_check_deposit Can't Select Bank to Deposit Into"
Hi All,

I tested this for v10c via the provided link to runbot.  I created a Checks Received journal, as per the instructions in the README.  I then registered a payment against an invoice, and attempted to deposit that check to BANK.  All seems to work correctly, as the module sees my check waiting in the selected Transfer Account, and I can select that check for deposit, but the module won't le

[2017-07-08 03:19] cliffkujala commented on #516
I installed this module on my  10.0+e-20170703 server and could not get the above problem to repeat. Maybe just a problem with the runbot setup?

[2017-07-15 06:32] cliffkujala commented on #516
This seems to be a non-issue on non-runbot test so I'm going to close it.

[2017-07-15 06:32] #516 closed, assigned to nobody

[2017-08-01 17:04] matteotrubini opened #523 "[10.0][account_credit_control] Menu entries not shown on Runbot"
REF: https://runbot.odoo-community.org/runbot/92/10.0

I didn't found any menu entry even on a test installation from scratch.

[2017-08-06 05:40] ausl commented on #523
I am having the same issue

[2017-08-09 17:13] tstonis opened #526 "[10.0][account_reversal] Move not reconciled"
In models/account_move.py, create_reversals(), moves are looped through using:

`for orig in self:`

Outside the loop, has:

[code]

This reconcile will only work on the last `orig` of the loop. I think it should be:

`self.move_reverse_reconcile()`

I'm relatively new to Odoo, so apologies in advance if this is incorrect and that I don't know how to post  proper code references.

[2017-08-16 16:53] cubells commented on #523
You must activate correct permission for your user:

![seleccio_315](https://user-images.githubusercontent.com/4386443/29375120-32ae9f78-82b4-11e7-9661-16d6f86d675f.png)

Issue can be closed.

[2017-08-16 16:59] #523 closed, assigned to nobody

[2017-08-21 11:13] CasVissers-360ERP opened #533 "account_credit_control not available on transifex"
account_credit_control is not available on transifex. Can it be added?

[2017-09-14 03:34] LoanHuynh opened #540 "Need to check "Allow Reconciliation" for the account in the journal "Check Received""
module: account_check_deposit
version: 9.0

**Steps to reproduce**
- Make payment for a customer invoice by "Check received"
- Create a Check deposit:
   + Journal: Check received"
   + Account: account on the company form view.
   + Table "Check payment": add the payment line used in the invoice above.
- Validate that check deposit.

**Current behavior**
- A message "The account Check Received (5

[2017-09-28 08:33] Martronic-SA opened #546 "currency_rate_update shoud support common rates (company = False)"
It should be possible to update the currency rates independently of companies.
For example if you have many companies in EUR and you want to update EUR/USD every morning, You may expect every companies to have the same EUR/USD rate.
The way it's done now (loop in companies) might end up in small exchange rates differences.
It sould be spossible to update the currency itself and not every company/c

[2017-09-28 11:39] pedrobaeza commented on #546
Can you provide a PR with this change?

[2017-10-03 13:57] pedrobaeza opened #551 "Migration to version 11.0"
Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_asset_depr_line_cancel
- [ ] account_asset_disposal - By @pedrobaeza - #736
- [x] account_asset_management - By @grindtildeath - #698
- [ ] account_asset_management_method_number_end - By @grindtildeath - #704
- [ ] account_asset_management_xls - By @luc-demeyer - #701
- [x] account_ba

[2017-10-17 17:01] paulius-sladkevicius opened #559 "[10.0] account_credit_control too much attachments in emails"
I've tested it on the runbot.

1. Create few invoices with different customers
2. Run credit control
3. Select all credit control lines for sending out by email
4. Select all credit control lines and send them by email

**Result excepted**: To get credit control summary attachment per email
**Result observed**: Second email gets attachment from previous credit control lines based on a sequence of

[2017-10-17 17:34] adrienpeiffer commented on #559
@paulius-sladkevicius Can you put the link to the runbot build ?

[2017-10-17 18:09] paulius-sladkevicius commented on #559
@adrienpeiffer http://3306955-10-0-ba5e61.runbot3.odoo-community.org/web?debug=1#id=6&view_type=form&model=mail.mail&action=87

[2017-10-18 09:19] adrienpeiffer commented on #559
@paulius-sladkevicius Thanks for the report :smile:
I just proposed a fix to solve this issue in https://github.com/OCA/account-financial-tools/pull/560.
Once the buildbot build is complete, you'll be able to test it direclty with the runbot link in the bottom of the PR. (https://runbot.odoo-community.org/runbot/build/3307477)

[2017-10-18 13:55] #559 closed, assigned to adrienpeiffer

[2017-10-25 09:17] ccandito opened #562 "extension of Account Invoice Constraint Chronology App"
Dear All,
for the time being this check is active for sales journal only.
It will be very useful to extend this feature to every king of journals.
Regards
claudio candito

[2017-10-30 16:39] wpichler opened #565 "account_credit_control does send mail with attachments of other credit control lines"
I've you select more than one credit.control.line and execute credit_control_emailer wizard, then the first entry will generate an email with one attachment, the second entrie will generate an email with the first attachment + the second attachment aso.

You can imagine how funny this was for the customer...

I assume this bug does affect all versions

[2017-10-30 16:46] adrienpeiffer commented on #565
@wpichler Can you tell me on which version the problem appears ? Did you notice this behavior on runbot ?
We fixed https://github.com/OCA/account-financial-tools/issues/559 for the 10.0 version on the following revision https://github.com/OCA/account-financial-tools/commit/8d29880b71c2718b96a8149dc5408a6120cf22eb and it was backported to 9.0 on this revision https://github.com/OCA/account-financia

[2017-10-30 16:52] wpichler commented on #565
I have seen this now - i've done the same patch ;-)

Thanks - so this can get closed

[2017-10-30 16:52] #565 closed, assigned to adrienpeiffer

[2017-11-02 17:08] pedrobaeza opened #567 "[10.0] account_move_locking: Error on tests due to a recent Odoo commit"
It was not failing in the merge moment, but now it is:
<details>
2017-11-02 16:57:01,946 5483 ERROR openerp_test odoo.addons.account_move_locking.tests.test_move_locking: FAIL: test_locking (odoo.addons.account_move_locking.tests.test_move_locking.MoveLocking)
2017-11-02 16:57:01,947 5483 ERROR openerp_test odoo.addons.account_move_locking.tests.test_move_locking: Traceback (most recent call last)

[2017-11-13 16:05] icf20 opened #574 "base_vat_optional_vies and spanish VAT"
i am testing some of the features ad i did discover that vies cant validate ESA62637871
http://www.infocif.es/ficha-empresa/companyia-local-dactuacions-urbanistiques-santboianes-sa

[2017-11-13 16:07] pedrobaeza commented on #574
That company won't be in the VIES registry. But this is nothing to do with the module

[2017-11-13 16:07] #574 closed, assigned to nobody

[2017-11-13 16:25] jesusVMayor commented on #551
Working on currency_rate_update

[2017-11-20 14:35] grindtildeath commented on #567
@pedrobaeza I'm just back from 3 weeks holidays.
I tried to reproduce locally but have no error after a pull of last commits from either odoo/odoo:10.0 or OCA/OCB:10.0.
Maybe it's been fixed in the meantime or could you provide a complete log ?

[2017-11-27 11:13] pierromanu opened #585 "currency_rate_update"
I get the following message with Yahoo Finance : 2017-11-27 11:12:32 ERROR: ValueError('could not convert string to float: the service is being discontinued.  For all future markets and equities data research',)

Unfortunately, I can't use another provider because they don't support XPF currency whereas Yahoo Finance does.

[2017-11-28 23:28] pedrobaeza commented on #533
Hi, translations should be now on Transifex. Please check.

[2017-11-28 23:28] #533 closed, assigned to nobody

[2017-12-11 14:30] yvaucher commented on #585
@pierromanu Yahoo Finance stop their service, we can't do anything about that.

You may look for an other provider, maybe XPF is supported by googleapis. Anyway cannot help you much on this, this needs a further development. Odoo had the same issue with their enterprise module: https://twitter.com/Frederic_C2C/status/938057417287454720

@OCA/accounting-maintainers any plan on this?

[2017-12-11 14:41] pedrobaeza commented on #585
That source is no more valid. Use another existing source.

[2017-12-11 14:41] #585 closed, assigned to nobody

[2017-12-14 08:59] rosenvladimirov opened #587 "Credit control module not populate and calculate by POS orders"
The credit control module don't populate polices lines in POS orders before closing sessions. After it is possible to capture lines only by movement in Account. Better is to work and with POS orders for capture. They is have two different way for payment polices, inside credit control and odoo follow payment system, this is need to be linked in credit control module.

[2017-12-19 16:04] OpenCode commented on #551
working on account_invoice_constraint_chronology

[2018-01-04 16:18] ccandito commented on #562
Dear All,
do you have any news about that?
it is important to be extended to purchase invoices also.
Regards
claudio

[2018-01-04 18:29] sbidoul commented on #562
@ccandito the module already works with purchase journals.

Do you need it for bank or misc operations journals too?

[2018-01-05 02:31] kenvac commented on #551
working on account_credit_control

[2018-01-05 07:22] ccandito commented on #562
Thanks
I'll test it again.
Sorry for wasting your time
Regards
Claudio candito

Il 4 gen 2018 18:29, "Stéphane Bidoul (ACSONE)" <notifications@github.com>
ha scritto:

[2018-01-05 08:34] pedrobaeza commented on #551
Noted

[2018-01-17 11:26] astirpe commented on #551
@kenvac do you have a public branch where we can follow the developments on account_credit_control ?

[2018-01-17 15:27] OpenCode commented on #551
@pedrobaeza account_invoice_constraint_chronology merged with PR #600

[2018-01-17 21:38] pedrobaeza commented on #551
OK, noted

[2018-01-18 01:39] kenvac commented on #551
@astirpe  Yes, I do have.
https://github.com/kenvac/account-financial-tools/tree/11.0-account_credit_control
I still need to work on test files

[2018-01-18 07:41] astirpe commented on #551
@kenvac nice! I also see that all the tests are passing, IMO you could open the PR. Would you like to do it?

[2018-01-18 08:55] kenvac commented on #551
@astirpe PR #603 created.. 😀

[2018-01-22 17:23] ccandito commented on #562
Dear Stéphane,
Finally I've tested the Account Invoice Constraint Chronology App.
currently the document date, i.e. bill date, is taken into account as reference for for chronology check.
From my perspective, this is wrong because the accounting data should be considered instead because invoices are sorted in VAT registry through the accounting date.
Regards
claudio candito

[2018-01-23 09:24] xabispacebiker opened #604 "Missing account.journal Accounting Dashboard"
Hello,

On a fresh OCA 11 installation I am missing the Accounting Dashboard link. When the initial action for the user is set to Accounting Dashboard, then the user can access it but there is no link available form the menus. Is there any option to activate it or am i missing something?

Thanks in advance

[2018-01-23 09:39] pedrobaeza commented on #604
This has nothing to do with this repository. Report it to #odoo.

[2018-01-23 09:39] #604 closed, assigned to nobody

[2018-02-13 05:31] samy-m-dev opened #611 "account_chart_update 10.0 failed constraint"
On Odoo 10.0 we try yo update account chart but we get a ocnstraint error on this query:

`INSERT INTO "account_fiscal_position_tax" ("id", "position_id", "tax_dest_id", "tax_src_id", "create_uid", "write_uid", "create_date", "write_date") VALUES(nextval('account_fiscal_position_tax_id_seq'), 25, NULL, NULL, 1, 1, (now() at time zone 'UTC'), (now() at time zone 'UTC')) RETURNING id
`

ERROR:  null

[2018-02-13 05:39] #611 closed, assigned to nobody

[2018-02-14 08:44] feketemihai opened #613 "Consistency in locking modules"
Hi all,

as far as i've seen there are multiple modules that threat locking in accounting on branch 10.0

[account_lock_date_update](https://github.com/OCA/account-financial-tools/tree/10.0/account_lock_date_update) - For this one i made a PR for migration to 11.0, because this is the standard Odoo locking mechanism, but input is not present in community .

[account_journal_lock_date](https://gith

[2018-02-15 02:14] travish2 opened #614 "account_check_deposit counter-parts left as draft"
Tested on Odoo 10 Community

The counter-part journal entry is left as a draft move and need to be manually confirmed, otherwise the general ledger is off. Is this expected behaviour? If so the instructions should updated to include periodically posting those transactions.

![image](https://user-images.githubusercontent.com/30615274/36237717-bfd30aba-1251-11e8-97d1-3d78024ba4ef.png)

![image](http

[2018-02-19 06:13] feketemihai commented on #551
account_journal_lock_date
account_move_locking
account_permanent_lock_move
account_permanent_lock_move_update

comnsolidated in #615

[2018-02-28 19:59] rven commented on #551
[11.0] [MIG] account_partner_required: Migration to 11.0 #622

[2018-03-01 10:56] Aivenho opened #623 "currency_rate_update"
Could be nice to implement EUR rates for ECB non-supported currencies from this free service http://www.floatrates.com/daily/eur.xml.

[2018-03-01 21:02] rven commented on #551
[11.0] [MIG] account_fiscal_position_vat_check: Migration to 11.0  https://github.com/OCA/account-financial-tools/pull/624

[2018-03-05 19:07] ccandito commented on #562
Dear Stephane,
do you have any news on it.
In case it is not possible to change the implemented logic, I'd suggest to enhance it by adding the possibility to select the date field (accounting date or document date) to be taken into account.
this selection field should be place at Journal level close to the already existing "Check chronology" indicator.
Regards
claudio

[2018-03-05 19:34] rven commented on #551
[11.0] [MIG] account_move_template: Migration to 11.0 https://github.com/OCA/account-financial-tools/pull/626

[2018-03-06 21:04] BeAntares commented on #551
@jesusVMayor Do you need help with the currency_rate_update module?

[2018-03-07 12:51] rossigee commented on #179
The hostname 'download.finance.yahoo.com' no longer resolves. The Yahoo getter should probably be removed/replaced.

[2018-03-08 15:13] OpenCode commented on #551
@pedrobaeza #586 is merged

[2018-03-08 15:13] pedrobaeza commented on #551
OK

[2018-03-12 11:57] feketemihai commented on #551
account_move_line_tax_editable in #630

[2018-03-13 12:29] nadiaafa commented on #551
i would like to work on account_fiscal_month

[2018-03-16 15:03] JordiBForgeFlow opened #634 "Conflict in demo data between account_group_menu and account_tag_menu."
@feketemihai see https://travis-ci.org/OCA/account-financial-tools/jobs/354341620#L1080
The demo data is duplicated. Can you change the demo data or introduce dependencies between the two modules to keep just 1 demo data?

[2018-03-16 15:05] feketemihai commented on #634
In a few minutes..

[2018-03-16 15:34] feketemihai commented on #634
@jbeficent Fixed in #635.

[2018-03-16 15:39] pedrobaeza commented on #634
Closing as there's now a PR.

[2018-03-16 15:39] #634 closed, assigned to nobody

[2018-03-17 05:23] feketemihai commented on #551
account_fiscal_month in #636 @pedrobaeza @nadiaafa

[2018-03-17 05:25] feketemihai commented on #551
@pedrobaeza account_lock_date_update - By @feketemihai - #615, the module is in #612 , module account_move_locking is consolidated in #615

[2018-03-17 05:47] feketemihai commented on #551
account_move_fiscal_month in #637

[2018-03-17 05:58] feketemihai commented on #551
account_move_fiscal_year in #638

[2018-03-17 11:20] pedrobaeza commented on #551
OK, updated

[2018-03-19 15:19] pedrobaeza commented on #623
Thanks for the suggestion. The way for expressing a wishlist / suggestion is to put a PR for adding it in the module README in the section "Known issues / Roadmap", so that developers or other contributors can see it and take it into account. See https://odoo-community.org/page/code for a brief explanation on how to do it.

Meanwhile, I close this issue, as they are more intended for reflecting pr

[2018-03-19 15:19] #623 closed, assigned to nobody

[2018-04-03 14:45] aitorbouzas commented on #551
account_invoice_currency in #644

[2018-04-05 06:48] rruebner commented on #551
@pedrobaeza I created a PR 645 for account_balance_line

[2018-04-30 10:28] sbidoul opened #649 "[RFC] porting account_tax_analysis to v9+"
We are considering the migration of account_tax_analysis from 8.0 to 9.0+

That module was hugely appreciated by accountants because it enabled them to do very flexible free analysis of tax/account/partner combinations.

Since v9, this module has been replaced by account_tax_balance which is helpful too, but does not offer the same freedom of analysis. It is also quite easy to do tax reports with

[2018-05-01 12:23] pedrobaeza commented on #649
But how are you going to handle if something has more than one group?

[2018-05-01 14:00] sbidoul commented on #649
It would go as follow:

- when writing a move line with taxes A and B, create group G1, named "A, B"
- when writing a move line with taxes A and C, create group G2, named "A, C"
- when writing a move line with taxes B and A, reuse group G1
- etc

The combinations of possible taxes is quite limited (in most cases it's only one tax), so the list of groups should remain reasonable.

[2018-05-01 14:35] pedrobaeza commented on #649
OK, it can be a good addition.

[2018-05-01 14:50] fclementic2c commented on #649
@sbidoul Thanks for the idea. I like your approach.

There is another point which is annoying now.
You cannot jump to invoice from the move lines. The link is from invoice to move line now.
It was handy before to have the overview by taxes, then the drill down (move lines by date, account, taxes...) then once you find an error for ex. go directly to the origin document (ex: invoice) to maybe amend

[2018-05-08 13:39] MouTio opened #650 "[9.0] account_chart_update: Updating fiscal positions with same name launches an exception"
If you have more than one fiscal position with the same name, updating fiscal positions launches an exception and Odoo crashes.

[2018-05-08 13:44] pedrobaeza commented on #650
Yeah, that's something that shouldn't happen, as having the same name is not the normal thing. Any way, you know the usual procedure (PR :wink: )

[2018-05-08 14:19] MouTio commented on #650
Done.

https://github.com/OCA/account-financial-tools/pull/651

[2018-05-08 14:31] pedrobaeza commented on #650
Closing this then.

[2018-05-08 14:31] #650 closed, assigned to nobody

[2018-05-15 18:48] pedrobaeza commented on #567
Seems to be fixed now. Closing.

[2018-05-15 18:48] #567 closed, assigned to nobody

[2018-05-16 12:54] matteotrubini opened #653 "[IMP][account_credit_control] Scheduled action"
On 8.0 I found and add to my installation a run scheduler() method to automate follow up emails.
[code]
Could it be considered an improvement to be released on this addon?
It will be a tremendous time saver.

[2018-05-17 15:05] guewen opened #654 "11.0 branch build failing"
After the merge of https://github.com/OCA/account-financial-tools/pull/607 the build on 11.0 is failing.
The PR was green, but meanwhile a commit in odoo / OCB introduced a change incompatible with the tests: https://github.com/OCA/OCB/commit/0e881fcd3a5671c4fe84b2a47c9d3611e4b823a1 (found by @grindtildeath)

Travis logs: https://travis-ci.org/OCA/account-financial-tools/jobs/380154983

[2018-05-17 15:09] pedrobaeza commented on #654
You have to make the change of the currency via SQL. See one of my commits for amending this in 10.0: https://github.com/OCA/account-financial-tools/commit/ae3143b6ae18c49145b5cec5569382986b8a6590

[2018-05-17 15:10] pedrobaeza commented on #654
You can even cherry-pick the one for this module: https://github.com/OCA/account-financial-tools/commit/76cea528b57e5bfd809bbed15be5cbf591b30f27

[2018-05-17 15:15] guewen commented on #654
Hey so cool! Giving a try right now. Thanks

[2018-05-17 15:43] #654 closed, assigned to nobody

[2018-06-04 06:43] sbidoul commented on #649
The tax group mechanism I explained above is complex to implement for little benefit (ie translation). So let's start with a simple text field.

So, let's add a stored computed text field named "Analysis Tax" which contains either `tax_line_id.description` or `', '.join(sorted(tax_ids.mapped('description')))`, whichever is set.

Then we need a new view on move lines, with a menu entry named 'Tax A

[2018-07-09 15:49] sbidoul opened #662 "Tax matching issues with account_chart_update"
Hi,

I've tested account_chart_update for taxes and fiscal positions on 10/11 with l10n_be

My main issue I have is with the criteria used to match taxes.

https://github.com/OCA/account-financial-tools/blob/69b55288e7d62a24537fd9b83bb5b95b9cbab1e6/account_chart_update/wizard/wizard_chart_update.py#L249-L254

Since the description field is not unique and is sometimes the same as the tax name there

[2018-07-09 16:13] pedrobaeza commented on #662
The problem here is the lack of an unique field for matching templates with their correspondent equivalents. I think we can push for v12 to have a `code` field in both for avoiding these problems, but meanwhile, we need to match on both due to the history of the `l10n_es` module, with a lot of changes in these fields until I normalized it (more or less) on OCA/l10n-spain#144. The problem is that a

[2018-07-09 16:15] sbidoul commented on #662
We could an option in the wizard to activate "fuzzy matching" on taxes and have an exact matching on tax name by default.

[2018-07-09 16:20] pedrobaeza commented on #662
OK, but please activate it by default. Will you help me on getting the codes on master?

[2018-07-09 16:45] sbidoul commented on #662
Have you seen there is a unique key on tax names now?

[2018-07-09 17:20] pedrobaeza commented on #662
The problem is that 3 fields is the desirable thing to have:

* A code that is not shown anywhere except on the model, that it's not susceptible of being changed and without translations issue.
* A name for showing in x2many fields & name_get/name_search for using in the UI by the users. This field is translatable.
* A description for putting on the reports, also translatable.

The translatable th

[2018-07-09 17:36] sbidoul commented on #662
I always wondered why taxes do not preserve a link to their template.

[2018-07-09 17:37] pedrobaeza commented on #662
Yeah, that's another option for master instead of the code...

[2018-07-09 17:41] sbidoul commented on #662
Let's push for having that in 12.

[2018-07-09 17:42] pedrobaeza commented on #662
Yes, I agree it's the best approach.

[2018-07-11 21:10] sbidoul commented on #662
@pedrobaeza this!

https://github.com/odoo/odoo/blob/12a97cc7add28ce7081b158c9bcbfae1b86e5600/addons/account/models/chart_template.py#L350-L358

It looks like objects created from chart template retain can be traced to their template object through an xmlid convention.

[2018-07-12 06:26] pedrobaeza commented on #662
Well, it's a very indirect method for getting it, but if it's the only one right now... For how long this has been? Since v9? On migrated DBs (or created manually records), it won't serve, so an alternative match is still needed.

[2018-07-13 13:13] sbidoul commented on #662
@pedrobaeza it is v11 only. But this means a request to link taxes to their template or adding a tax code will be rejected, because the link exists through the tax xmlid.

[2018-07-24 11:26] rafaelbn commented on #551
@pedrobaeza should we move account_credit_control to https://github.com/OCA/credit-control ?

[2018-07-25 03:58] spacimek opened #668 "[11.0][account_loan] Extra principal payment is improperly reflected"
How to reproduce:
1) Create a loan, which will start in the future and post it
2) Click on Pay Amount - and enter some amount to be paid
3) While principal is properly lowered, the same amount is counted also towards the interest payment and system shows double-payment.
I.e. when you set to pay $30k extra, system shows:
Total payed amount | $ 60,000.00
Total interests payed | $ 30,000.00

Same sit

[2018-07-25 18:33] spacimek opened #670 "[IMP][11.0][account_loan] We should be able to add a down payment"
It should be possible to set the down payment upfront (and to create respective invoice for it with the date = start of loan) - it's just a special form of extra payment to lower down the principal amount.

That way it's clearly visible what was the original loan amount and what payments were done towards it.

So it should work like:
- Loan Amount = $40.000
- Down Payment = $2.000
=> $38.000 shoul

[2018-07-25 20:26] spacimek opened #671 "[IMP][11.0][account_loan] Extra payment should lower number of payments, not monthly payment"
Current functionality is: When paying an extra amount, number of payments stay the same and the monthly payment is lowered. This is not a typical scenario.

Usually an extra payment = option to lower down the number of periods (i.e. monthly payment will still be the same, but overall number of payments will be lower, so debt will be paid faster). That's usually useful at the beginning of loan paym

[2018-07-26 01:57] spacimek opened #672 "[IMP][11.0][account_loan] Adding an analytic account for the loan tracking"
account_loan is quite complete in terms of ability to assign various accounts for the loan itself - or additional ones for the lease (when product is involved). However from the Accounting point of view, related Analytic account is missing. It allows keeping track of a single loan when there are multiple of them and all are paid to one account.

[2018-07-26 02:03] spacimek opened #673 "[IMP][11.0][account_loan] Adding fees, insurance and tax to the loan"
While the account_loan nicely calculates the loan itself, the only place it allows to add any type of additional fee is "Pay amount" button (i.e. paying an extra amount towards the principal). In that case we can add bank fees.

However loan management should add fee(s), insurance and tax to the monthly amount - those should be defined as extra products and added to the invoice automatically when

[2018-07-27 07:07] etobella commented on #673
Taxes are added automatically according to the leasing product configuration.
About the fees and insurances, It could be an option to add this kind of configurations. You could make a PR in order to make these improvements.

[2018-08-03 13:32] pedrobaeza opened #676 "Differences between account_check_deposit and account_check_printing"
Can anyone tell me the differences between this OCA module and the corresponding Odoo one? Are both needed? I have the feeling that the OCA one is not needed anymore since the improvements on Odoo side + account_check_printing_report_base.

cc @jbeficent @alexis-via @bguillot @chafique-delli @mourad-ehm

[2018-08-03 19:02] alexis-via commented on #676
I guess account_check_printing is designed to pay your suppliers by check. The module account_check_deposit is designed to deposit the check of your customers to the bank.

[2018-08-04 10:31] pedrobaeza commented on #676
But `account_check_deposit` also has an option for transferring the balance to the bank account. That's why I see some overlapping.

[2018-08-06 06:00] pedrobaeza commented on #676
OK, I'm going to migrate as is for going fast with this for the customer I'm migrating. Thanks for the answer, Alexis.

[2018-08-06 06:00] #676 closed, assigned to nobody

[2018-08-17 08:53] DonFeraRRi commented on #540
Any Solution if we have entered the values and now I am unable to Allow Reconciliation.
A message "The account Other Debtors (2006) is not marked as reconcilable !"

When I go to that account and active the checkbox "Allow Reconciliation", I got another message "You cannot change the value of the reconciliation on this account as it already has some moves"

Any way to do something? I tried to expo

[2018-09-13 10:36] yung-wang opened #688 "Readme unclear account_credit_control"
Some fields are not explained very well in the readme. Can someone update the correct usage of the fields in the Credit Control Lines?

Fields:
- Manually Overridden
- Manual Followup

Or maybe update the readme a little tutorial

[2018-09-18 08:37] yung-wang opened #691 "[11.0 ][account_credit_control] Multicompany bugs"
Unable to create multiple credit control runs on the same date.

1. As a multicompany user, you can view all the runs for all the companies. When you try to create another run on the same date, the system will raise the error that there already exist one on that date.
I tried to put multiple Policies from different companies into 1 run, but it will only generates the lines from the company that yo

[2018-09-18 09:30] yung-wang commented on #688
I did the improvement by myself.

[2018-09-18 09:30] #688 closed, assigned to nobody

[2018-09-27 00:02] OCA-git-bot opened #696 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] account_asset_management - By @apps2grow - #756
- [x] account_balance_line - By @davidStudio73 - #769
- [x] account_chart_update - By @ernestotejeda - #781
- [x] account_check_deposit - By @ThomasBinsfeld - #761
- [x] account_credit_control - Moved to OCA/credit-control - By @mreficent  - OC

[2018-10-02 08:11] rven commented on #696
Working on migration of account_type_menu

[2018-10-02 09:33] rven commented on #696
[12.0][MIG] account_type_menu #702

[2018-10-02 13:28] rven commented on #696
Working on migration of account_tag_menu

[2018-10-02 13:38] rven commented on #696
[12.0][MIG] account_tag_menu #705

[2018-10-02 13:53] rven commented on #696
Working on migration of account_fiscal_year

[2018-10-02 14:19] rven commented on #696
[12.0][MIG] account_fiscal_year #706

[2018-10-02 14:43] rven commented on #696
[12.0][MIG] account_partner_required #707

[2018-10-02 14:47] rven commented on #696
Working on account_group_menu

[2018-10-02 14:58] rven commented on #696
[12.0][MIG] account_group_menu #708

[2018-10-11 20:22] pedrobaeza commented on #551
It should be moved on v12 migration

[2018-10-11 20:25] pedrobaeza commented on #662
@sbidoul for solving your problem meanwhile, you can add a matching option on the wizard for selecting which method to use (name, description, both...). I will investigate the matching by XML-ID.

[2018-11-05 10:58] AbrahamMatu commented on #540
Having the same issue. Any  solutions?

[2018-11-05 11:01] fclementic2c commented on #540
And it is not only in this specific case.
I do not get why odoo prevent to check this box when account_move_line have been created.
I usually use SQL to check it and I never noticed any issues.

this is really a pain and it is there on all odoo version since version 9

[2018-11-05 11:04] pedrobaeza commented on #540
See https://github.com/OCA/account-reconcile/tree/11.0/account_set_reconcilable module for allowing to change it. The logic after not allowing this is because it will appear a lot of moves to be reconciled in the bank statement.

[2018-11-05 11:04] #540 closed, assigned to nobody

[2018-11-05 12:59] fclementic2c commented on #540
Many thanks @pedrobaeza . I missed that one.

[2018-11-09 23:31] ghost opened #730 "11.0 account_asset_management: cant create asset"
I try to test this module.
To create a asset you have to fill the field "parent asset". by creating the parent asset you have to fill the field "parent asset" ...  so its a loop.

Any hint how i can create assets without this loop?

Thanks.

[2018-11-10 07:41] darmaa commented on #730
you must select asset type 'view'

[2018-11-11 16:42] luc-demeyer commented on #730
You should first define the 'reporting structure' (assets of type view).
For some countries there can be a legal reporting structure which makes this definition easy (installation of a data module, cf. https://github.com/luc-demeyer/noviat-apps/tree/10.0/l10n_be_asset_management_data).

But I agree that the behaviour is confusing. Fixing this is on my list for the 12.0 version of this module (repl

[2018-11-11 20:00] ghost commented on #730
ok thanks to all for explanation !

I m looking forward to your 12.0 Version.
A Wishlist for this module :-)
* Possiblity to link to the Asset-Invoice like in the account_asset-module.
* A Image Field

Generell i dont know how its possible to handle Attachments in 12.0 in a good way. In the 11.0 module (asset_account) i attached a lot of documents related to the asset. In 12.0 this record have no

[2018-11-12 15:07] fclementic2c opened #731 "account_asset_management - init flag based mechanism to review"
In my use case, Fiscal Year start on the 1/01/N but I want the depreciation computed from 01/10/N.

![image](https://user-images.githubusercontent.com/5735158/48355840-347e2d00-e695-11e8-9c06-a20161042b53.png)

But when I compute the asset depreciation board :
![image](https://user-images.githubusercontent.com/5735158/48355866-45c73980-e695-11e8-9a65-49a34190bf1c.png)

![screenshot-integration roc

[2018-11-12 15:17] fclementic2c commented on #731
My suggestion is to add a depreciation start date in the accounting settings like Odoo did it for bank reconciliation lines.
![screenshot-397274-12-0-6f9e74 runbot16 odoo com-2018 11 12-16-15-39](https://user-images.githubusercontent.com/5735158/48356305-40b6ba00-e696-11e8-9073-ff2a7160507b.png)

It will be use only once at the module install but it is easier to understand that using the locking d

[2018-11-12 16:09] luc-demeyer commented on #731
I think we could as well re-use the 'fiscalyear_lock_date' in stead of yet another date field and document in the account_asset _management README.rst that this parameter is used for this operation (which is a one time operation for a customer who starts to use this module).

[2018-11-12 16:24] fclementic2c commented on #731
Ok it's your baby :)

go for using the fiscalyear_lock_date

[2018-11-20 19:52] arveitch opened #734 "[11] Change Menu"
For the menuitem in account_move_view.xml I think it would be better to change:

    parent="account.menu_finance_entries"

To:

    parent="account.menu_finance_entries_accounting_entries"

This is a more logical place for it to be.

[2018-11-21 09:21] pedrobaeza commented on #734
Which module? Screenshots, please?

[2018-11-21 09:35] arveitch commented on #734
The module is Account Reversal. I have moved 'Journal Entries to be Reversed' from being at the bottom of the menu, under Lock Dates, to the section that deals with Accounting Entries.

<img width="289" alt="menu" src="https://user-images.githubusercontent.com/7735894/48832245-a1b65000-ed70-11e8-9f05-e2df6ae438c8.png">

[2018-11-21 11:12] pedrobaeza commented on #734
OK, good idea. Please do a PR changing that.

[2018-12-27 23:02] emagdalenaC2i commented on #696
account_fiscal_year - By @rven - #706 was superseded by #726 and it is merged
account_reversal - By @hbto - #738 is closed and I think this module isin't needed anymore
there is a PR #741 for account_move_fiscal_year
there is a PR #705 for account_tag_menu

[2018-12-27 23:27] emagdalenaC2i commented on #551
Please check in the list account_credit_control_dunning_fees because it is merged in #607
account_move_line_purchase_info isn't in the list and is already migrated and merged in #609
account_fiscal_position_vat_check - By @carlosDomatix - #578 is closed and superseeded by #681
account_move_template - By @rven - #626 is closed and superseded by #728
account_asset_management_method_number_end isn't

[2019-01-04 04:15] bodedra commented on #734
We can close these in favor of https://github.com/OCA/account-financial-tools/pull/747

[2019-01-04 07:31] bodedra commented on #374
Due to lack of response, we can close these.

[2019-01-04 07:36] bodedra commented on #171
IMO these is ready to close.

[2019-01-04 08:20] #734 closed, assigned to nobody

[2019-01-04 08:51] #374 closed, assigned to nobody

[2019-01-04 08:55] #171 closed, assigned to nobody

[2019-01-04 14:08] RodrigoBM commented on #551
working on base_vat_optional_vies

[2019-01-04 14:37] pedrobaeza commented on #551
Is that one still needed with latest versions? I'm not sure about that...

[2019-01-08 13:04] RodrigoBM commented on #551
I think so. Because if user want to see if check_vat has been passed, we need this module.
https://github.com/OCA/account-financial-tools/issues/551#issuecomment-451460826

[2019-01-08 13:26] cesarsc79 opened #748 "[11.0] error to compute items into loan"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/.repo_requirements/odoo/odoo/tool

[2019-01-08 13:26] cesarsc79 commented on #748
runbot error

[2019-01-08 20:31] pedrobaeza commented on #551
I'm still not convinced, but if you say so, then go ahead.

[2019-01-17 11:47] icf20 opened #759 "[12.0] account_invoicing is gone what happens with modules that depend on this?"
is there any way to replace account_invoicing in the short term?

[2019-01-17 14:48] pedrobaeza commented on #759
This question should be done on forums.

[2019-01-17 14:48] #759 closed, assigned to nobody

[2019-01-17 18:26] icf20 commented on #759
@pedrobaeza i would if oca forums have fixed this issue https://github.com/odoo/odoo/issues/23527

[2019-01-17 18:27] pedrobaeza commented on #759
This is not something of OCA.

[2019-01-17 18:34] icf20 commented on #759
afaik account_check_deposit module requires odoo SA account_invoicing

[2019-01-18 11:46] bodedra commented on #748
We can close these issue as PR is merged.

[2019-01-18 11:49] #748 closed, assigned to nobody

[2019-02-01 14:10] blaggacao commented on #696
I'll attempt account_journal_lock_date from 10.0-> 12.0 https://github.com/OCA/account-financial-tools/pull/765

[2019-02-05 14:37] ecino opened #766 "[currency_rate_update] Admin.ch service doesn't work"
When trying to use service admin.ch to update the currencies with the module `currency_rate_update`, we get an xml error because the service seems broken.

The url of the server looks to be : http://www.afd.admin.ch/publicdb/newdb/mwst_kurse/wechselkurse.php

But this page returns "Res empty" instead of an expected XML.

Maybe the url needs to be updated? By looking on the website, it looks like t

[2019-03-14 15:34] astirpe commented on #691
I think this issue is fixed by PR https://github.com/OCA/account-financial-tools/pull/435 for 8.0.
That PR should be ported to 11.0.

[2019-03-14 23:45] pedrobaeza commented on #691
We already added multi-company support in #695, so closing this.

[2019-03-14 23:45] #691 closed, assigned to carlosdauden

[2019-03-15 09:55] yung-wang commented on #691
@pedrobaeza Thanks, I checked #695 and it is a nice improvement.
Can we reopen the issue? Because I think it makes more sense to add a multi company rule on credit_control_policy:

[code]

The reason is when you create a run, you can select all the policies from all the companies. But when you run it, it just only creates the credit control lines of the company that you're logged into. So it's not

[2019-03-15 10:02] pedrobaeza commented on #691
Then please create a PR adding that rule.

[2019-03-25 10:42] kittiu opened #788 "Journal Entry's Source Document"
Our accountant have problem knowing which Journal Entry created from which front document. (I know there is text reference field, but that is not what we need as text is always changeable)

We want to have a field **document_id** as field.Reference() (invoice, payment, hr.expense) may be as computed stored field in **account.move** that can link back to the front document who creates it.

This fea

[2019-03-25 11:54] dominiquekonsuntack commented on #788
To have more information as for where the journal entry comes from: yes

To make it a many2one to a model.. not really. Journal entries can be
created by invoice, payment, reconciliation voucher, stock move, payslip,
asset depreciation, reversal entries etc..

May be a hidden field to hold the name of the original model, and then a
search button? In other words nothing that would be automatically

[2019-03-26 03:11] kittiu commented on #788
@dominiquekonsuntack that's why I like to propose using Reference field which hold both model and res_id, i.e., "account.invoice,1". This is many2one field. Only reference field can hold multiple type of objects.

[2019-03-26 12:02] kittiu commented on #788
Hi, I just make PR for this. Another main reason I think we need this kind of perm link is all about reporting. Many account reports from account.move.line require source document + its related (orm) info.
https://github.com/OCA/account-financial-tools/pull/790
Currently, we did for only invoice/payment and expense just to proof concept. In longer term, we can create more small modules for each ne

[2019-04-04 17:38] XtremXpert opened #795 "[11.0] account_move_batch_validate: new Icon make Odoo not loading all css and js"
Hi,

After updating account-financial-tools, my Odoo did not load all images, css and js.

Going to web/database/manager was my test to check if the issue is showing.

Removing the static/description/icon.png file fix my issues....

Any clue about it.  Until that issue get fixed can you move that Icon.png out of the way.

Thank you

Benoît Vézina

[2019-04-04 18:22] XtremXpert commented on #795
Well, deleting only the file did not fix the issue but suppression the complete static folder did it

[2019-04-06 07:56] dcorio opened #796 "[11.0][account_move_batch_validate] ImportError if queue_job is not present"
If queue_job is not present and account_move_batch_validate is visible by Odoo even if not installed, you get an ImportError.

[2019-04-07 10:16] lili94 opened #797 "account_ partner required d'ont work"
hi  i install account_partner required in my project i use odoo v11 , i configured type of account to never but it doesn't work and runbot in odoo app not work please help @alexis-via @pedrobaeza

[2019-04-10 13:08] pniederlag commented on #696
anyone into the output of the bot on top of this list? this module seems to have been ported but misses a checkmark in the list

account_move_fiscal_year - By @bjeficent - #741

[2019-04-10 13:11] pedrobaeza commented on #696
@pniederlag check added. Thanks for noticing.

[2019-04-11 11:34] yweng8111 commented on #696
[12.0][MIG] account_invoice_currency - #800

[2019-04-13 15:02] tbaden commented on #796
sounds like the same problem:
https://github.com/OCA/account-financial-tools/pull/802
just one versions difference, but maybe the same fix

[2019-04-17 00:32] lili94 opened #804 "account partner v10"
hi @alexis-via and @sbidoul i install module account partner rquired i configure policy but when i test no message error show please help

[2019-04-24 11:49] #804 closed, assigned to nobody

[2019-04-24 11:49] #797 closed, assigned to nobody

[2019-04-24 11:53] lili94 opened #810 "[v11] account_partner_required nothing happend"
hi i am using odoo v11 i install account_partner _required i change the policy of account to never but i can write the partner in account move not disable i try in runbot and not work also
thanks @sbidoul @pedrobaeza

[2019-04-27 19:22] lili94 commented on #810
can anyone help please @sbidoul

[2019-04-29 07:53] lili94 commented on #810
@pedrobaeza  do you have some suggest please

[2019-04-29 08:18] sbidoul commented on #810
@lili94 I've never used this module on v11. A quick look at the code shows nothing suspicious.

[2019-04-29 08:56] lili94 commented on #810
@sbidoul  i need to disable a partner for some account in move line any suggest

[2019-05-24 07:33] MaxyMoos opened #827 "[11.0] asset_account_management: wrong depreciation line amounts computed with multiple assets in an invoice"
### Steps to reproduce:
1. Create an asset profile with the `Skip Draft State` option checked - so that depreciation lines will be automatically computed upon invoice validation
2. Create an invoice with two invoice lines, both linked to the asset profile created at step 1
3. Validate the invoice and check the newly created Assets

### Current behavior:
There are indeed two created assets (as expe

[2019-05-24 14:27] sbejaoui commented on #696
account_permanent_lock_move #830

[2019-05-24 15:17] sbejaoui commented on #696
account_journal_lock_date #831

[2019-05-27 15:30] amcor commented on #696
account_loan https://github.com/OCA/account-financial-tools/pull/833

[2019-05-31 11:15] pedroortega-punt opened #836 "[10.0][account_balance_reporting] Ordenación Inadecuada."
El balence de sumas y saldos OCA, no se ordena por cuentas o grupos de cuentas que es lo que los gestores y contables necesitan.

No se cual es la ordenación actual, pero incluso no creo que sea por descripción.

Este es un ejemplo.

![imagen](https://user-images.githubusercontent.com/18347857/58702470-33e58380-83a6-11e9-8c9f-97ef4da4524e.png)

[2019-05-31 15:55] pedrobaeza commented on #836
Proper repository is OCA/account-financial-reporting, and it should be in English, but I give you a hint about the problem: accounts don't have an account group assigned.

[2019-05-31 15:55] #836 closed, assigned to nobody

[2019-06-01 11:28] pedroortega-punt commented on #836
I think it is not correct, the accounts have all their group assigned.

![imagen](https://user-images.githubusercontent.com/18347857/58747848-0d404f00-8471-11e9-9575-824f44edc9d5.png)

[2019-06-01 13:53] emagdalenaC2i commented on #696
account_invoice_currency - By @yweng8111 - #800 By @hveficent - #800 is Superseed in #837
Also I think you can check account_reversal - By @hbto - #738 Is core feature now efficient and inheritable to remove it? By @JordyBlankestijn - #754

[2019-06-04 10:15] pedrobaeza commented on #836
Write to OCA/account-financial-reporting reproducing the problem in runbot.

[2019-06-14 08:06] carlosdauden opened #843 "account_asset_management: Wrong depreciation with Linear up to Salvage and Prorata Temporis"
Wrong depreciation value when Computation Method is Linear up to Salvage Value and Prorata Temporis cheked.

![](https://user-images.githubusercontent.com/7701001/59373222-867d5300-8d49-11e9-9949-32073b482c1e.png)

![](https://user-images.githubusercontent.com/7701001/59373245-909f5180-8d49-11e9-8334-4de9c65e9c2c.png)

Comented here: https://github.com/OCA/account-financial-tools/pull/756#issuecom

[2019-06-17 03:03] Saran440 opened #844 "[12.0] account_asset_management : Salvage value is not editable when asset created by vendor bills"
Salvage Value can not edit when user created by vendor bills

user choose asset profile on vendor bills
![Selection_001](https://user-images.githubusercontent.com/20896369/59575494-ebd49980-90e5-11e9-8ef8-497310a66009.png)

Odoo auto generates asset and salvage value can not edit. However users want to edit salvage value before confirm asset.
![Selection_002](https://user-images.githubusercontent.

[2019-06-20 11:47] pepitovadecurt opened #845 "Asset with analytical (not asset category)"
Is there any way to assign an analytic account to an asset? No to an asset category.
Thanks.

[2019-06-20 11:51] pedrobaeza commented on #845
With which asset module?

[2019-06-20 11:51] pedrobaeza commented on #845
Which Odoo version?

[2019-06-20 11:59] pepitovadecurt commented on #845
Sorry, ODOO 10 Comunity and the module "account_asset" version 10.0.1.0

[2019-06-20 12:03] pedrobaeza commented on #845
https://github.com/OCA/account-analytic/tree/10.0/account_asset_analytic

[2019-06-20 12:03] #845 closed, assigned to nobody

[2019-06-20 14:28] pepitovadecurt commented on #845
It was just that I need!
Still getting acquainted with Github (also with Odoo)
Thanks

[2019-06-21 11:13] MaxyMoos commented on #827
A fix has been merged, I'm closing this issue.

[2019-06-21 11:13] #827 closed, assigned to nobody

[2019-06-27 19:09] fdiaz-LPA opened #848 "[V12.0] account_chart_update taxes with children"
Hello,
I am having an issue when updating taxes where a new record in xml is a group.
Odoo won't show any errors, the updating windows after last step just waits until timeout is reached.
All steps until you lunch the process are ok

To try it I faked a duplicated the record of "IVA 21% Adquisición Intracomunitaria. Bienes corrientes" in the xml file "account_tax_data.xml of the l10n_es". Then I u

[2019-06-27 19:13] pedrobaeza commented on #848
I haven't got any problem with that, as Spanish chart of accounts has taxes with groups. Unless you show some logs on infinite recursion or check if you have any kind of lock, we can't test and "solve" this.

[2019-07-02 08:40] fdiaz-LPA commented on #848
Hello @pedrobaeza, there are not problems with Spanish Charts, I mentioned it as example.
The problem may be with the module account_chart_update when you load an xml with child taxes

[2019-07-02 17:47] pedrobaeza opened #850 "[12.0] account_asset_management: Fiscal year mustn't be mandatory"
On a regular 12.0 installation, you don't need to create fiscal years for doing regular accounting. If that happens, considered fiscal year is the natural year.

But with this module, you are forced to create fiscal years although using natural ones.

[2019-07-02 20:14] luc-demeyer commented on #850
A small change that we could implement easily if we have sufficient support for it by the OCA accounting specialists.

[2019-07-03 07:19] pedrobaeza commented on #850
Which kind of support do you need?

[2019-07-03 07:23] pedrobaeza opened #851 "[12.0] account_asset_management: No demo data"
The module should provide demo data for showcasing possibilities and quick test of them on runbot.

[2019-07-03 08:09] pedrobaeza commented on #848
Yes, but this still doesn't seem a valid issue, as duplicating that data is a trick for doing things fail and not a real condition.

[2019-07-03 09:54] fdiaz-LPA commented on #848
Hello @pedrobaeza
I have not any king of interest of faking a fail or similar. I just found an abnormal behaviour and I comment it in case somebody else comes across the same situation.

If there is not issues, fear enough with me!!!

I will start assuming  that I am wrong. If a chart template suffers changes and it is updated in an Odoo instance, you can use the module account_chart_update so tha

[2019-07-03 15:55] pedrobaeza commented on #848
I'm not saying you are faking anything, but we should be also pragmatic: if there's no reproducible case in any localization dataset, then we shouldn't care about this. It would be different if you are providing directly a pull request with the solution. Reviewing, approving and merging that patch is less effort and it's admissible. What I'm not going to do is to patch this hypothetical case, inve

[2019-07-03 18:23] fdiaz-LPA commented on #848
I am not a skilled developer, I am more of an integrator. I am not skilled enough to detect where the problem may arise, I promise I tried.

If I manage to get skilled, in long term if ever, my goal would be to add all the taxation for The Canary Island to OCA localization and OCA Spain, as it is mentioned [Here](https://github.com/OCA/l10n-spain/issues/1008)

I do not want to give false expectati

[2019-07-09 11:51] pedrocs-exo opened #853 "[10.0] account_check_deposit: can't reconcile bank statement line with check deposit"
After posting a check deposit, one would expect to be able to reconcile it with a bank statement line. But that can't be done because the deposit move doesn't appear in the possible reconcilable  items.

To reproduce the problem just follow the instructions on the Configurations and Usage sections of the README file, keeping the default values (Check Deposit Offsetting Account = Bank Account). The

[2019-07-12 13:58] gva-acsone opened #856 "Module that facilitates the encoding of losses on your customers' receivables"
Hello everyone,

Has anyone heard of a module that _facilitates the encoding of losses on your customers' receivables_? The idea is to avoid creating a manual journal entry every time you need to register a loss when you know your customer will never pay your invoice.

It doesn't look like such a module already exists in the community, so we plan to develop a new module to add this functionality.

[2019-07-12 14:31] sbidoul commented on #856
income account*s*, plural since there is potentially more than one income line on the invoice

By the regular reconcile feature of account_reversal.

Do we need to do something special with partially paid invoices, and credit notes?

[2019-07-16 09:32] legalsylvain opened #857 "[RFC] merging all account_***_menu into a single module"
Hi all,
Since new versions of odoo, some menus / actions in accounting part are not available.
For that purpose, some modules exist like in V12 :
- account_group_menu
- account_tag_menu
- account_type_menu
- account_coa_menu ([Pending PR](https://github.com/OCA/account-financial-tools/pull/855), review welcome, BTW ;-) )

I see all that modules rather boring to maintain.

I so propose to merge all

[2019-07-16 09:40] pedrobaeza commented on #857
Let's see what happen in v13 with the accounting refactoring first, but I agree on principle.

[2019-07-16 10:01] arthru commented on #857
It would be really convenient to have a single account_menu

Maybe just start by creating an account_menu with all account_*_menu as dependency ?

[2019-07-16 10:11] legalsylvain commented on #857
:+1: Good idea. I'll integrate it in this PR : https://github.com/OCA/account-financial-tools/pull/855

[2019-07-23 16:12] mslokhat opened #863 "account_check_deposit : Use for Cash Deposit to Bank"
Hi,
Is there any option to transfer Cash payment to Bank account?

Process is usual like that :
Accountant receive payment in form of Cash or Check .
each next day, all cash and checks are sent to bank and a Remittance is delivered by the bank
Bank account is then credited with all Checks and Cash

Thanks

[2019-07-23 17:06] kittiu commented on #863
Hi, I am not 100% sure this is what you want. But I see it as enhancement to account_check_deposit to accept partial/full move from cash/check (intransit) being paid (in payment document) to bank account.
https://github.com/Saran440/account-financial-tools/tree/12.0-add-account_payment_intransit/account_payment_intransit

[2019-07-24 03:15] mslokhat commented on #863
Hi,
Thank you. i will have a look
Rgds

[2019-08-31 01:21] pedrobaeza opened #877 "[12.0] account_asset_management: Inconsistencies on method_time values"
While analyzing the code for migrating `l10n_es_account_asset`, I see some inconsistencies in the module for the multiple `method_time` values:

* Main module is supposed to only support computation by years, but at the end, there's lot of code here mentioning the other methods.
* Why doing different depreciation computations depending on `method_time`? For me, important things are depreciation st

[2019-09-02 14:45] pedrobaeza opened #878 "account_asset_management: Must contain demo data"
The module must contain demo data that showcases different features of the module and also for being able to test it easily in UI.

[2019-09-02 14:45] pedrobaeza commented on #878
cc @luc-demeyer

[2019-09-02 17:12] luc-demeyer commented on #877
I had a look into account_asset OE 12.0, this one also still contains the methods 'number' and 'end', hence we could indeed merge the 'account_asset_management_method_number_end' into the main module.

I my own customer base (including a customer with a subsidiary in Spain) I never encountered the need for the 'end' and 'number' methods. I have deployed these time methods several times for revenue

[2019-09-02 19:22] pedrobaeza commented on #877
Well, I have several customers about to migrate that use that methods, but I can take care of the needed changes.

[2019-09-26 13:47] robin5210 opened #887 "[11.0] account_credit_control fails if no attachment on e-mail template"
When trying to send e-mail when a template without report to attach is selected. The following error is emited:

[code]

My guess is the error is introduced in `wizard/credit_control_communication.py` on L 174.
The default case should be an empty list.

[2019-09-26 14:08] pedrobaeza commented on #887
Can you propose a PR for solving that problem?

[2019-09-29 21:26] OCA-git-bot opened #888 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] account_asset_management - By @ernestotejeda - #933
- [x] account_balance_line - By @feketemihai - #891
- [x] account_chart_update - By @ernestotejeda - #929
- [ ] account_check_deposit - By @ps-tubtim #954
- [x] account_coa_menu - Merged in account_menu - By @rven - #889
- [ ] account_cost_

[2019-09-30 09:58] rven commented on #888
Working on migration of account_coa_menu, account_tag_menu, account_type_menu, account_group into module account_menu https://github.com/OCA/account-financial-tools/pull/889

[2019-10-01 08:06] lembregtse commented on #888
Working on migration of account_partner_required (https://github.com/OCA/account-financial-tools/pull/890)

[2019-10-01 09:29] feketemihai commented on #888
Account_balance_line in https://github.com/OCA/account-financial-tools/pull/891

[2019-10-01 14:14] rven commented on #888
@pedrobaeza Can you remove the account_***_menu modules from the migration list?
Maybe pointing to the account_menu module in the list?

[2019-10-01 14:43] pedrobaeza commented on #888
I have put them as merged in the other.

[2019-10-09 13:50] AaronHForgeFlow commented on #33
Fixed.

[2019-10-09 13:50] #33 closed, assigned to nobody

[2019-10-15 05:13] JordiBForgeFlow opened #897 "[11.0,12.0][account_asset_management] Recalculating depreciation schedules"
Hi,

It is often necessary to incorporate capital improvement cost information for an asset (for example, after some years after the initial start of the asset you have made a repair to the asset that has increased it's value), or to otherwise revise an existing depreciation schedule (for example, after some years the asset has degraded and you decide to reduce the number of years of the life of t

[2019-10-16 07:01] kittiu commented on #897
Hello @jbeficent
cc @wipawii

I do agree that asset management is important and need to be more flexible than this.

Question: when you do the repair operations, and want that expense to be included in the asset (beside the recalc depre table), you will need to have another set of account moves that add value from expense to asset too, correct? When you say "change the depreciation base", will jou

[2019-10-16 08:36] JordiBForgeFlow opened #899 "[account_asset_management] Calculate depreciation for each period based on the number of days in the period"
An asset with purchase value of 1200 which is going to depreciation over 1 year with monthy depreciations, now depreciates 100 each month.

But we want the depreciation schedule to be based the actual number of days in each month. In February, depreciation will be approximately 92, while in March depreciation will be approximately 102 - there are 3 days more in March than there are in February.

B

[2019-10-16 08:44] kittiu commented on #899
@jbeficent you mean calculate by days instead of by period? We dit it, and I think @luc-demeyer is about to merge https://github.com/OCA/account-financial-tools/pull/852

[2019-10-17 15:00] JordiBForgeFlow commented on #899
Thanks @kittiu. That's what I was looking for!

[2019-10-17 15:00] #899 closed, assigned to nobody

[2019-10-17 15:09] JordiBForgeFlow commented on #897
@kittiu We have been thinking about this.

In our opinion this would require a major refactoring with respect to the current code.

First, the asset depreciation table should take into account all the account.move.line associated to asset valuation changes. That way, you could, for example:

1) Do a repair and allocate directly the expenses to a given asset.
2) Purchase new material or services th

[2019-11-04 14:47] ivantodorovich opened #910 "[12.0] [account_asset_management] Updating the profile doesn't impact the asset"
1) Configure an asset profile with accounts, analytic account, etc..
2) Configure an asset and use that profile
3) Change the profile's accounts / analytic / etc..

**Expectation:**
New asset depreciation moves should use the new account / analytic account.

**Result:**
New asset depreciation moves continue to use the account set on the asset, because it wasn't changed.

The asset will continue to

[2019-11-04 14:49] pedrobaeza commented on #910
That's not how profiles/templates work in any part of Odoo: they act as initial master data when applying that profile/template, but no later sync is done if you change later that profile/template. That would mean a lot of things to take into account and have unexpected side effects.

I don't think this should be modified, and if you do so, do it on a separate module.

[2019-11-04 15:19] luc-demeyer commented on #910
I fully agree with Pedro's point of view.

[2019-11-04 15:24] ivantodorovich commented on #910
Well.. the model I have in mind is `product.template` and `product.category`.
The account used on the move lines will be the one on the template, if set.. and default to the one on the category.

Accountants are used to that behaviour and -intuitively- they expect the same for assets.

I know in the enterprise module it's working with this template/asset behaviour, but that doesn't mean it's the b

[2019-11-04 16:33] pedrobaeza commented on #910
It's not the same, Iván: the product template is directly linked to variants because of inheritance by delegation, and in fact the fields are in template, not in variant, but you see them as related fields. In this case, they are 2 separate objects and they shouldn't be linked that way.

Examples of this pattern (template factory can be called) that you have found in every places of Odoo/OCA:

- Y

[2019-11-04 16:40] ivantodorovich commented on #910
I'm not talking about the `product.template`/`product.product` inheritance. I thought that was obvious.

I'm talking about how accounts are configured in products and product.category.

Code speaks by itself, so:
https://github.com/odoo/odoo/blob/12.0/addons/account/models/product.py#L39

That's the pattern accountants are used to. They do it all the time for products, and it's understandable to e

[2019-11-04 16:44] ivantodorovich commented on #910
I guess the main conceptual difference is that for you the asset.profile is a template, while for me is more like a category.

[2019-11-04 16:50] pedrobaeza commented on #910
Sorry for the confusion. Yeah, that part can be extensible to leave without filling certain fields, and if so, rely on profile's value instead.

@luc-demeyer what do you think?

[2019-11-04 19:17] luc-demeyer commented on #910
I think that this thread proves that the module needs better documentation.

[2019-11-18 19:55] mowny opened #912 "[12.0][account_chart_update] python lockup in update wizard"
module: account_chart_update
version: 12.0

Hi, we are just migrating from odoo v10 to v12 Enterprise. In v10, we used l10n_de_skr04_reports, which is supposed to be integrated into the new l10n_de_reports. However, the new tax report comes up almost empty. We were advised to use account_chart_update to restore tax tagging and accounts. The wizard does lock up halfway though.

**Steps to reproduce

[2019-11-18 23:09] pedrobaeza commented on #912
Well, this is very weird, because it's processed in a normal Odoo thread, so I doubt it's because module code. Without proper steps to reproduce it, it's barely impossible to hunt the problem. Are you able to reproduce them in OCA runbot?

[2019-12-09 07:14] hioppolo-ia opened #918 "[12.0][account_asset_management] local fiscal year incompatible"
Since the module is configured for the European fiscal year, when we tried to deploy it into one of our test databases with an Australian fiscal year (1 July – 30 June), it gave an error when calculating depreciation on the depreciation board of an asset.

I imagine this error would impact all other users with different fiscal years (USA, Canada, Australia, UK or any country other than 1 Jan – 31

[2019-12-24 15:50] sbejaoui opened #922 "[RFC] - account_asset_management_method_number_end usage"
Hi guys,

I need your help to understand some implementation details in `account_asset_management`.

In many places in the code, I see a business logic based on different values of the field `method_time` [(example)](https://github.com/OCA/account-financial-tools/blob/10.0/account_asset_management/models/account_asset.py#L264) but this filed have one possible [choice](https://github.com/OCA/accoun

[2019-12-26 11:30] pedrobaeza commented on #851
Duplicated of #878

[2019-12-26 11:30] #851 closed, assigned to nobody

[2019-12-26 11:30] pedrobaeza commented on #922
See #877 for similar analysis

[2020-01-07 22:24] mmotahar commented on #918
It's not only wrong for Australia but for any localisation with a different fiscal year settings. So in summary this module does NOT calculate the depreciation if the fiscal year is changed. It only works for 1st Jan to 31 Dec (European fiscal year).

 Interesting that no one has reported this before.

[2020-01-08 02:06] mmotahar commented on #850
As mentioned in #918 by running functional tests using various localisation packages that have fiscal year other than the European ones, We found that the module does not work if the fiscal year is NOT from 1st Jan to 31 December. details are added here #918

[2020-01-08 09:15] pedrobaeza commented on #850
This was fixed in #870

[2020-01-08 09:15] #850 closed, assigned to luc-demeyer

[2020-01-15 18:04] pedrocs-exo commented on #848
Hi,

I can confirm this bug in V12 (and a nasty one BTW!). Children tax updates are ok, but their parent never gets created and hangs the system.

It's quite simple to reproduce. Just add the following XML chunk to the spanish localization account_tax_data.xml (its a simple copy of a tax set):

and then try to update the chart of account taxes. The log will display

and then a glorious silent hang

[2020-01-15 18:10] pedrobaeza commented on #848
If you provide a pull request fixing the problem, then I'll review it.

[2020-01-17 10:43] astirpe commented on #888
account_lock_date_update #928

[2020-01-20 13:45] jimhoefnagels commented on #888
working on account_fiscal_year #931

[2020-01-28 08:28] hioppolo-ia opened #932 "[12.0][account_asset_management] degressive depreciation rate extension to 4dp"
Currently degressive depreciation rate this is limited to 2 decimal places (dp). For example, a rate of 10% is equivalent to 0.10 in account_asset_management.

There are instances where the rate might be 33.33% or 66.67% in line with our legislation. These rates show as 0.33 or 0.67 in account_asset_management and for long running & high value assets, this can throw out the calculation over time.

[2020-01-29 10:36] MiquelRForgeFlow commented on #888
sorry, account_fiscal_year is done in https://github.com/OCA/account-financial-tools/pull/900, thus https://github.com/OCA/account-financial-tools/pull/931 should be closed.

[2020-01-30 18:03] MiquelRForgeFlow commented on #888
account_move_line_tax_editable https://github.com/OCA/account-financial-tools/pull/934

[2020-02-05 07:41] #844 closed, assigned to nobody

[2020-03-04 10:29] HaraldPanten commented on #888
Hi all,

Do we really need to migrate account_renumber to V13.0? As invoices "disappear" in V13 I'm not sure if that module would be helpful. What do you think?

[2020-03-04 10:30] pedrobaeza commented on #888
This decision will be deferred until the one with Spanish invoice sequence, but the module can be migrated. Other thing is that this will really be used or not.

[2020-03-04 10:33] HaraldPanten commented on #888
OK @pedrobaeza thanks for your prompt reply!

[2020-03-13 15:09] ivantodorovich opened #947 "Travis failing in 12.0"
Travis is not working for 12.0 branch

![image](https://user-images.githubusercontent.com/1914185/76633258-bcec3680-6544-11ea-83d9-5703f6555de4.png)

![image](https://user-images.githubusercontent.com/1914185/76633220-ae058400-6544-11ea-94ed-81a4e779e9ef.png)

And apparently there's an error on `account_check_deposit` tests, but I don't know since when, because builds where giving false greens

Th

[2020-03-16 02:37] kittiu opened #948 "[RFC] Asset Registration Reports (like in EE)"
Here, we see Asset Management module, but find no Asset Registration Report yet.
Should we create one? Any sample or existing module anywhere?

[2020-03-16 08:09] luc-demeyer commented on #948
cf. https://github.com/OCA/account-financial-tools/pull/892

[2020-03-16 09:12] kittiu commented on #948
Great, thanks!

[2020-03-16 09:12] #948 closed, assigned to nobody

[2020-03-18 16:30] AaronHForgeFlow commented on #947
All merge attempts in 12.0 have failed for this reason. I am not too familiar to that module. @legalsylvain I see you are improving this module here https://github.com/OCA/account-financial-tools/pull/872 Could you point us into the right direction in order to fix this? Thanks

[2020-03-18 16:39] pedrobaeza commented on #947
This has been fixed in #950

[2020-03-18 16:39] #947 closed, assigned to nobody

[2020-03-18 16:40] pedrobaeza commented on #947
FYI it seems a default changed in Odoo core.

[2020-03-20 04:44] newtratip commented on #888
Working on `account_check_deposit` https://github.com/OCA/account-financial-tools/pull/953

[2020-03-20 09:05] pedrobaeza commented on #912
Fixed in e2750be

[2020-03-20 09:05] #912 closed, assigned to nobody

[2020-03-24 08:31] ps-tubtim commented on #888
Working on migration of account_check_deposit https://github.com/OCA/account-financial-tools/pull/954.

[2020-03-26 06:08] kittiu opened #958 "[RFC] Consistent form view form Journal Entries"
Currently, in Journal Entries, account.move of type invoice will display as invoice. While others display as normal Journaly Entries.

This is somewhat confusing for users. I propose to create a consistent Form view (as journal entries).

WDYT?

[2020-04-08 14:30] kittiu opened #963 "Branch 13.0 is merged wrongly, how to revert back before further commit."
@OCA/accounting-maintainers
We have situation here, https://github.com/OCA/account-financial-tools/pull/956
When this happen, is it correct to revert to 7 Apr, 2020 and then git push -f ?

[2020-04-08 15:31] AaronHForgeFlow commented on #963
I think a new PR that revert the changes is always better than git push -f. Could you create a PR reverting the changes?

[2020-04-08 19:41] kittiu commented on #963
@AaronHForgeFlow thanks again for your advice, I think you mean this? git revert xxx...HEAD
https://github.com/OCA/account-financial-tools/pull/965
Please help merge if you think it looks ok. :)

[2020-04-14 08:32] qgroulard opened #967 "[IMP][account_asset_management] Depreciation board computation upon asset confirmation"
Hello,

I was wondering if there is any good reason why de depreciation board is not auto computed when the asset is confirmed ?

The less clicks the happier our customers are. :smiley:

[2020-04-14 08:40] pedrobaeza commented on #967
The only reason I see for that is for preventing the recomputation if you go back to draft and re-confirm.

@luc-demeyer is there any special reason?

[2020-04-14 09:25] luc-demeyer commented on #967
The recomputation is not done to allow manual changes to the depreciation table to adjust the computation (in case of computation errors or if the customer wants other roundings e.g to align with computation done by the accounting package of this external accounting agency, ...).

I have observed in the past several cases where computation is not fully correct (and there are still open issues e.g.

[2020-04-14 09:26] pedrobaeza commented on #967
I think it's better to simply recompute the table automatically if no manual entries found (`depreciation_line_ids` empty or similar).

[2020-04-14 10:05] luc-demeyer commented on #967
@pedrobaeza
I agree that in case of empty depreciation_line_ids we should recompute.
I can make a PR for that (for 13.0)

[2020-04-17 10:46] pedrobaeza opened #968 "Overlapping between account_lock_to_date and account_lock_date_update?"
It seems both modules are equal.

@JordiBForgeFlow @AaronHForgeFlow yours seems to arrive later. Is there any difference with the other?

[2020-04-23 08:47] qgroulard commented on #967
I open a PR for 12.0: https://github.com/OCA/account-financial-tools/pull/973

Could you please check that it's done right ? Thank you.

[2020-04-29 11:51] pedrobaeza commented on #967
Closing this as there's a PR for continuing there.

[2020-04-29 11:51] #967 closed, assigned to nobody

[2020-05-08 15:40] augustynr opened #981 "account_loan Can it be used for customers and suppliers?"
Hi,
All seems to work ok when I get the loan, how do I set it up to give a loan?
Is it possible?
Another solutions?
Thanks

[2020-05-09 17:33] HaraldPanten commented on #888
base_vat_optional_vies https://github.com/OCA/account-financial-tools/pull/983

[2020-05-13 11:55] Lopsanz opened #987 "[12.0] Refund invoices"
Here goes my suggestion:

https://github.com/OCA/account-financial-tools/blob/3e7eb50781f5ee8ad492ba3c26702767ab4ef6de/account_invoice_constraint_chronology/model/account_invoice.py#L24

I propose Constraint shouldn't be checked when refund sequence is declared in journal.

[2020-05-16 04:58] kittiu opened #992 "[12, 13][IMP] account_spread_cost_revenue, auto create spread table by product"
cc @astirpe @CasVissers

In my project, I have a requirement to, when validate invoice, auto create spread table.
And so, what I did is to link the Spread Template with product.

![Selection_066](https://user-images.githubusercontent.com/1973598/82111050-477f2b00-976c-11ea-8251-e4ae1215ad08.png)

If this product is selected on invoice, validating it will create spread table based on template right

[2020-05-16 07:22] CasVissers-360ERP commented on #992
Nice feature, think it can be added without breaking existing features!

Don't like the intrusive view update on the product form view. I would prefer a more minimalistic approach on the accounting page. Maybe just adding the template field with some domains based on can be purchased / can be sold.

I also see a "spread over" field?

[2020-05-16 08:35] kittiu commented on #992
@CasVissers
Good idea on not being intrusive on product. But I think by link it to account may not cover all case. Even with same account some time we want auto spread but sometime we don't. I think we can cover all possible case by both! Let me think.

I am thinking to add the link to products and/or accounts in the template window itself. It can be minimal as option. WDYT?

Spread over is about

[2020-05-17 07:49] kittiu commented on #992
![Selection_068](https://user-images.githubusercontent.com/1973598/82138817-85a04b80-984d-11ea-8af5-0c0716ecc5b3.png)

[2020-05-17 14:40] kittiu commented on #992
Let's continue here,
https://github.com/OCA/account-financial-tools/pull/993

[2020-05-19 06:17] astirpe commented on #992
@kittiu are you aware of module [account_spread_contract](https://github.com/OCA/account-financial-tools/pull/737 )?

[2020-05-19 08:05] kittiu commented on #992
@astirpe no, I am not aware of that. May I summarize for further discuss.

**account_spread_contract**
- Define the `spread_template_id` in account.analytic.invoice.line,
- Use the spread_template_id to create spread table during invoice creation (not during validation).
- No config in Spread Template window, (do config in analytic)

**https://github.com/OCA/account-financial-tools/pull/993**
- Co

[2020-05-21 02:43] augustynr opened #998 "[IMP][11.0][account_loan] Problems with accounts"
Hi,
Can someone explain how the accounting part of this should work?
My understanding is that once I get a loan a Liability account should be increased not AP?
So when I post the loan it should increase long term liability and bank.
Then when I make monthly payments my the AP should consist of reducing the long term liability by the principal payment and interest.
I can get the first part to work

[2020-05-25 02:20] xabispacebiker opened #999 "Suggestion: account_fiscal_position_vat_check raise error when no fiscal position and no vatid"
When using this module I realized that if the customer has no fiscal position it does not throw the error, I'd suggest to change the code so that if the partner has no fiscal position and no vat id throws the error too. The fix is quite easy, just need to change model/account.invoice.py line 16 to the following

[code]

[2020-05-25 16:27] rousseldenis opened #1002 "[10.0] currency_rate_update: Tests are failing"
I'm not in favor of tests with real url as they depends on external service reliability.

It can causes troubles on the repository for PR's with unrelevant errors: the module code is not the culprit, the service is.

As I know some people are against mocking url requests, but IMHO it ensures module test isolation. Testing without mock can cause unwanted errors on PR's or even in main branches.

Se

[2020-05-25 16:32] pedrobaeza commented on #1002
First of all, I think that provider should go to OCA/l10n-vietnam. About testing the real thing, you know my preference :wink:

[2020-05-25 16:37] rousseldenis commented on #1002
Yes, and that argument is in favor of mine. :smiley: That would be the same in vietnam repository

[2020-05-25 17:13] rousseldenis commented on #1002
And people seeing errors on PR's would never review it nor PR's makers even try to fix it. 'the snake bites its tail'...

[2020-05-26 01:20] jcdrubay commented on #1002
Hi,
the URL has changed indeed.
Let me know if you wish me to take some actions.
Maybe [1] you can remove the module causing the issue from this repo, and eventually [2] we could add it back in the repository OCA/l10n-vietnam.
I can take care of [2] if you want.
Regards,
Jean-Charles

[2020-05-26 06:30] rousseldenis commented on #1002
Ok, I will remove service in module. Could you at least do an issue on vietnam repo?

[2020-05-26 07:10] jcdrubay commented on #1002
Actually, the service is already extracted since v11: https://github.com/OCA/l10n-vietnam/tree/11.0/currency_rate_update_VN_VCB

So if people want to have in v10, they can downport the module from v11 to v10. Or I should create 2 issues:

- update url in v11
- downport to v10

I suggest you just remove from v10 of this repo.

Today, we have no-one really contributing in the l10n-vietnam repo.
Hope

[2020-05-26 09:04] D0nmoses commented on #668
I've come to observe the same issue. Any luck so far?

[2020-05-27 10:46] kittiu commented on #992
@astirpe any further comment?

[2020-05-29 10:53] legalsylvain opened #1003 "[RFC] Generate ir.sequence.date_range when creating / updating account.fiscal.year"
hi all,

I'm working on Odoo CE 12.0, in a multicompany context. Each years, I have to create new fiscal years for each company. In the meantime, I have also to configure each ``ir.sequence`` for each journal, adding a new line ``ir.sequence.date_range``. It's quite fastidious and error prone.

I was thinking to automate the creation of that new lines, for each journals, when creating a new fiscal

[2020-05-29 11:01] HaraldPanten commented on #1003
I'm not sure if I understood you well, but I think that just checking "Use subsequences per date_range" you don't need to do anything else.

Try this:

With your current configuration (screenshot), create a new draft invoice and put invoice date in 2022. Then validate it.

If I'm not wrong, you invoice sequence will be: BILL/2022/0001. So... you don't need to create every year many subsequences fo

[2020-05-29 11:04] pedrobaeza commented on #1003
FYI `account.fiscal.year` are not really needed, except if you don't have regular one year fiscal periods (which can be the starting one, but not the rest). If something is not working this way, it's because custom code is bad using these fiscal years. Example of "bad usage" (doing them mandatory): https://github.com/OCA/account-financial-tools/pull/870

Also, that lines are automatically populate

[2020-05-29 11:33] legalsylvain commented on #1003
Hi @pedrobaeza and @HaraldPanten, thanks for your answer.

There are 60 companies in my Odoo, and for many of them (like > 10), the fiscal year is not from january to december, but from october to september (for exemple), each year. So each year the setting should be ``date_from`` 20xx-10-01 ; ``date_end`` : 20xy-09-30. It is legal in France.

Indeed, I created a Bill in 2025-01-01 and here is the

[2020-05-29 11:38] HaraldPanten commented on #1003
Hmmm... Then I think that "standard" doesn't work for you as you mentioned that fiscal years don't start on 01/01 and finish the 31/12.

What would be your purpose to solve this need, then?

I think it doesn't exist a specific feature to cover this case of use.

[2020-05-29 11:46] pedrobaeza commented on #1003
Standard works the same. The only problem for needing account.fiscal.year is a length different from the year. If not, you can select the last month of the fiscal year and the last day of that month, that are 2 fields in res.company.

[2020-05-29 12:09] legalsylvain commented on #1003
No it doesn' work.
I set the following settings on ``res.company``

![image](https://user-images.githubusercontent.com/3407482/83258043-ddc43f80-a1b5-11ea-8f69-1a9e1fc101a8.png)

and when I create a bill (date = 2030-01-01), the following sub sequence created is still bad :

![image](https://user-images.githubusercontent.com/3407482/83257979-bf5e4400-a1b5-11ea-8a35-569654d51da9.png)

And so, the n

[2020-05-29 12:17] legalsylvain commented on #1003
1. Propose a Fix / or make a OCA module that handles correctly the two values ``fiscalyear_last_day`` and ``fiscalyear_last_month`` when generating sub sequence.

2. Propose another module (no dependency with the first one) that autogenerate fiscal years but without generation of subsquences. (as there are automatically generated).

[2020-05-29 12:18] pedrobaeza commented on #1003
Yeah, indeed the sequences are for the whole year, but not that fiscal periods, but you need a whole new sequence infrastructure, because the prefix is got from the year, and in these cases, you need to manually indicate how to call them: "INV/2019-2020/001" for example?

[2020-05-29 12:20] HaraldPanten commented on #1003
I think that subsequence is not prepared for this case of use. I agree that in this case of use something has to be developed

[2020-05-29 12:23] HaraldPanten commented on #1003
I'd prefer a new module, as I think that this functionality is not that common (depending on accounting laws and/or industries).

[2020-05-29 12:28] legalsylvain commented on #1003
Well, the text included is another topic :
My accountant supposed that a fiscal year that begin from 2019-10-01 to 2020-09-30 should have numbers like ``Bill/19/000x`` (because otherwise, it's a mess to write)

but yes, another idea could be to have another custom key in the prefix / suffix values, like :

![image](https://user-images.githubusercontent.com/3407482/83259433-53c9a600-a1b8-11ea-9300-

[2020-05-29 12:34] pedrobaeza commented on #1003
You can use a specific placeholder indeed (or give several possibilities), then override the proper method and will need to find the starting and ending dates for the fiscal year (no matter if specified from `account.fiscal.year` or by last month/day), and put variables in the context for being able to replace the placeholder.

[2020-06-01 09:34] pedrobaeza opened #1006 "account_asset_management: Add chatter entry in invoice for generated asset"
It would be good to have that chatter entry with the link to the asset as we see in invoices created from sales orders for example.

[2020-06-02 06:54] kittiu commented on #992
Analytic as criteria added.
https://github.com/OCA/account-financial-tools/compare/5bf2a16e0cc7eb7a2e762ada0a0ec2126d7232bf..626d4c70460ee9ca2d90320aaa50b8bb3dfb69d7

[2020-06-04 07:56] ValentinVinagre commented on #888
The account_invoice_constraint_chronology is necessary?

[2020-06-07 09:05] treviser opened #1008 "[12.0 Account Asset] Entry Sequence Number ignored when posting asset moves"
Situation:
Migrated Odoo instance. Asset profiles are correctly specified and assigned to a particular journal for asset moves. This journal has its own entry sequence properly defined and assigned.

![Selection_288](https://user-images.githubusercontent.com/1814941/83964453-8f95f700-a8ad-11ea-88d3-9420589d2550.png)

Issue:
When posting journal entries from the asset management module, the entry s

[2020-06-07 14:08] luc-demeyer commented on #1008
There is no legal requirement to have subsequent numbering for asset postings. The current behaviour is on purpose since it makes it easier to cancel and repost asset lines.
The _setup_move_data method allows you to change this behaviour and call the journals sequence.
This issue has been posted several times already in the past and comes back on a regular basis in my own customer base but with pr

[2020-06-10 00:06] desdelinux opened #1009 "[11.0 account_lock_to_date ] You cannot lock a period that is not finished yet"
On any date when trying to block, the following error appears

Next error message

You cannot lock a period that is not finished yet. Please make sure that the lock date for advisors is not set after the last day of the previous month.
Can be validated in the next runbot http://3424915-11-0-b3ff0f.runbot3.odoo-community.org/

![image](https://user-images.githubusercontent.com/50924836/84212629-fe2

[2020-06-17 06:41] mylbco opened #1010 "[13] Traceback when posting a draft journal entry in a locked period instead of an error message"
Scenario te reproduce this traceback:

POST a journal entry with a date in a locked period

<img width="566" alt="image" src="https://user-images.githubusercontent.com/3402495/84864056-56604280-b076-11ea-93ae-34578bb58859.png">

------
`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 624, in _handle_exception
    return super(

[2020-06-19 15:19] treviser commented on #1008
@luc-demeyer Thanks for your feedback and the explanation.

[2020-06-19 15:22] #1008 closed, assigned to nobody

[2020-06-30 11:14] pedrobaeza commented on #848
This was fixed in a696148b4cb6e397ee0c0929a715f9a8cf26ff8a and e2750be00bef033c2971534c2139fff79dcb9523

[2020-06-30 11:14] #848 closed, assigned to nobody

[2020-07-01 09:37] HaraldPanten opened #1011 "account_asset_management[IMP][RFO] asset entries creation using scheduled action"
Hi,

I was wondering if it would make sense to include a scheduled action where the asset entries would be created periodically. Quite similar as account_asset module does in Odoo EE.

I'm talking about V12, but probably it could be backported/forwardported to other versions.

What do you think @pedrobaeza @JordiBForgeFlow ?

THX

[2020-07-01 09:38] pedrobaeza commented on #1011
I haven't missed it, as all my customers wants to do it manually through the menu entry.

[2020-07-01 09:39] HaraldPanten commented on #1006
It would be an interesting feature. I agree with the [IMP]

Will you purpose a PR? Which Odoo version?

THX!

[2020-07-01 09:41] HaraldPanten commented on #1011
What about if customer has lots of assets and assets entries? Is it OK to do it manually/massively several times for each period?

THX

[2020-07-01 10:08] pedrobaeza commented on #1011
I don't get you... Do you mean that several users do it simultaneously?

[2020-07-01 10:09] pedrobaeza commented on #1006
I haven't planned it yet. You can do the PR if you want/have time.

[2020-07-01 10:49] HaraldPanten commented on #1011
No, let me explain:

You can create the asset entries by two ways:

**1- One by one, by line, for each asset:**

<img width="1427" alt="Captura de pantalla 2020-07-01 a las 12 32 53" src="https://user-images.githubusercontent.com/32449357/86234650-8e4ba780-bb97-11ea-9e98-f02d912944c4.png">

**2- Massively for a limit date, using "Compute assets" option:**

<img width="1221" alt="Captura de pantall

[2020-07-01 10:55] pedrobaeza commented on #1011
I think you have switch the term "Compute Assets" with "create assets", but I get your idea. I honestly think that the use case you are talking about is a bad user behavior, as the asset depreciation entries are always created for past times, so if you have the need of creating several forgotten assets, create them, and then run once the "Compute Assets" menu. If you want to "see the progress", yo

[2020-07-01 14:03] HaraldPanten commented on #1011
Hi Pedro,

The main objective of this IMP would be to let the cron (scheduled action) create the entries instead of a "needed user action".

As you have the depreciation dates in the assets, the cron would automatically create the entries once the date was something like this pseudocode:

 `"depreciation date line"<="Today"`

It would be 100% compatible with the actual features and we will include

[2020-07-01 14:05] pedrobaeza commented on #1011
OK, I'm not against it, but it should be disabled by default.

[2020-07-01 14:09] HaraldPanten commented on #1011
I agree

[2020-07-01 14:13] HaraldPanten commented on #1006
Hi Pedro,

Do you have any special requirement for this IMP that should be taken in consideration? Otherwise, we'll make our own purpose.

[2020-07-01 14:22] pedrobaeza commented on #1006
No, follow the examples in core where you have a note entry with the link to the created object to click in it.

[2020-07-02 09:10] pedrobaeza opened #1012 "[12.0/13.0] account_asset_management: Depreciation lines as init entries for asset with prorata"
With the following use case:

- Advisor accounting lock date (the bad called technical field `fiscalyear_lock_date`): 2020-05-31
- Create asset with prorata with start date: 2020-06-01 (or any later date)
- Compute depreciations

**Result**: all the depreciation lines for 2020 appears in black as init entries.

**Expected**: all the depreciation lines for 2020 appears normally to generate journal

[2020-07-02 09:11] pedrobaeza commented on #1012
@luc-demeyer what do you think about this? I don't know yet the code enough for knowing if doing a direct change of this date in the table computation will have other side effects.

[2020-07-07 14:49] mm82299 opened #1019 "Account_check_deposit"
Dear All,
I have installed the module **account_check_deposit** and configured the journal check received and tried to deposit a check to the bank but couldn't found the check deposit menu under invoicing--->Accounting --->check Deposit.

Can someone help please ?

[2020-07-07 15:47] Du-ma opened #1020 "[13.0][BUG] account_asset_management: "Something went wrong !" error on computed asset's edit"
Hey,
you can get an odd error like this: `account.asset.line(<NewId origin=1>,).remaining_value`, when editing an asset.
I tried it on runbot just in case, getting the same error.
Steps to reproduce:
1. Create an asset (leave everything as by default as possible).
2. Save it.
3. Compute the depreciation board.
4. Try editing "Purchase Value" or deleting a "depreciate" type Depreciation Line. You d

[2020-07-07 20:27] mm82299 opened #1021 "Error message when printing Check Deposit report"
Hello,
We got this error mError:
Odoo Server Error

<details>
[code]
</details>

essage when printing the deposit report:

Would you please help ?
Thanks

[2020-07-08 06:52] pedrobaeza commented on #1021
I'm afraid you have your DB in a bad state, but it's not a problem of the module, so closing this issue. If you try in a fresh DB without third-party modules or in runbot, you'll see that the module works.

[2020-07-08 11:13] mm82299 commented on #1021
Dear Pedro,
it seem that this issue is related to the module, i tried in a fresh DB but still got the same error when printing the report:
Error:
Odoo Server Error

<details>
[code]
</details>

Thanks

[2020-07-08 11:26] pedrobaeza commented on #1021
Is it reproducible on runbot (admin/admin): https://runbot.odoo-community.org/runbot/92/11.0 ?

[2020-07-08 12:20] mm82299 commented on #1021
Dear Padro,
thank you for your feedback and patience
I reproduced the same scenario on runbot and still get the same error:
Error:
Odoo Server Error

<details>
[code]
</details>

Thanks

[2020-07-08 12:24] pedrobaeza commented on #1021
OK, reopening and I'll check the problem.

[2020-07-08 14:34] pedrobaeza commented on #1021
Sorry, but I have tried in runbot, and I'm not able to reproduce the problem. The only thing is that you need a special check layout to be configured, but nothing more, so re-closing.

[2020-07-08 14:35] #1021 closed, assigned to nobody

[2020-07-09 05:59] fc-azurtech opened #1023 "error installing module on odoo v 12"
Hello,

I have problem at install module "account_asset_management" on odoo v12. This is error.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/models.py", line 1126, in _validate_fields
    check(self)
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_ui_view.py", line 345, in _check_xml
    view_def = view.read_combined(['

[2020-07-09 07:05] pedrobaeza commented on #1023
Your DB seems corrupt or with another incompatible module, as you can check in the "Try me on runbot" button of the README that is working. Try on a fresh DB without extra addons.

Closing as no module issue.

[2020-07-09 07:05] #1023 closed, assigned to nobody

[2020-07-09 09:29] #1020 closed, assigned to ernestotejeda

[2020-07-09 14:16] cubells opened #1024 "account_lock_date_update: Po files not generated"
I'm interested in translate this module to Spanish and I see that po files are not generated:

https://github.com/OCA/account-financial-tools/tree/11.0/account_lock_to_date/i18n

In any version.

And I can't see how can I help to translate here:

https://translation.odoo-community.org/projects/account-financial-tools-11-0/account-financial-tools-11-0-account_lock_to_date/

Does It exist a problem?

[2020-07-09 15:56] marcelsavegnago commented on #1024
Did you try to start the Spanish translation via the translation platform?

https://odoo-community.org/page/translate
https://docs.weblate.org/en/latest/user/translating.html

I just started translation into Portuguese pt_BR normally.
![image](https://user-images.githubusercontent.com/3595132/87062521-84532580-c1e3-11ea-8fa8-1f3b4990bba8.png)

[2020-07-10 07:35] cubells commented on #1009
I confirm this issue doing this module unusable.

I try to do a patch for this bug but I'd have to rewrite all tests.

@JordiBForgeFlow can you confirm this bug or try to explain me how to this module works?

And to make matters worst, spanish translation I think is not correct:

When in english is this:

And the code is not obvious. Comment said **next month**:

https://github.com/OCA/account-fin

[2020-07-10 14:36] NCS-75 commented on #1019
Hi,
Please, rename explicitly your request if you expect to receive an answer.

As it for exemple :

- [13] [Help] (Configuration) "Account_check_deposit" Don't see menu entry

Preamble
You really have to you follow all the explainations all along the "README.rst"  : https://github.com/OCA/account-financial-tools/tree/13.0/account_check_deposit#id1
By the way, please always try "runbot environneme

[2020-07-10 14:39] pedrobaeza commented on #1019
Closing meanwhile further explanation is done. @NCS-75 thanks for the detailed and kind answer.

[2020-07-10 14:39] #1019 closed, assigned to nobody

[2020-07-21 07:41] #1011 closed, assigned to nobody

[2020-07-21 07:41] HaraldPanten commented on #1011
Closing, as https://github.com/OCA/account-financial-tools/pull/1016 has been merged

[2020-07-22 08:05] HaraldPanten opened #1029 "[13.0][RFO] account_asset_management small translation FIX"
Hi @pedrobaeza

I've realized that there's a translation issue in account_asset_management due it's translation to Spanish.

As you can see in my screenshots, there's no difference between **Asset Goup(s)** vs **Asset Profile(s)**. That can cause confusion to users.

My question is: Can I do this small changes by using a PR here? Or should I manage this situation using Weblate?

Regards,

![Captur

[2020-07-22 08:10] pedrobaeza commented on #1029
In Weblate, as it's a translation thing.

[2020-07-22 08:10] #1029 closed, assigned to nobody

[2020-07-27 15:56] enricostano opened #1031 "[account_asset_management] [12] Setup already existing assets"
Hi,
I'm using modules `account_asset_management` and `l10n_es_account_asset` on a v12.

We need to setup assets that are already depreciated in previous fiscal years. For instance an asset that has been bought in 2018 and has been already depreciated every year.
Now that we're starting using Odoo for asset management we need to create the asset but we don't know how to specify that the Depreciated

[2020-07-27 16:00] pedrobaeza commented on #1031
Setup it as it's new, but with the starting date on the past, compute the depreciation board, and mark the lines that are already depreciated with the "Init" mark.

[2020-07-27 17:21] luc-demeyer commented on #1031
This goes automatically if you set the lock date, cf.
https://github.com/OCA/account-financial-tools/blob/65b6137ce075425c94953dfaee2c2708c57cd603/account_asset_management/models/account_asset.py#L990

[2020-07-27 17:24] pedrobaeza commented on #1031
About that, I have a pending issue, as that's a bad approach IMO: you use that lock date for locking periods (not fiscal years) already presented in the tax reports, but they mark entire fiscal years that way!

[2020-07-27 17:50] luc-demeyer commented on #1012
@pedrobaeza
I think your suggestion makes a sense and I don't expect side effects.
Another option could be that we add an 'accounting_entry_start_date' field and hence don't use the confusing fiscalyear_lock_date field at all.

[2020-07-27 17:50] luc-demeyer commented on #1031
cf. my update in https://github.com/OCA/account-financial-tools/issues/1012

[2020-07-27 17:53] pedrobaeza commented on #1031
I didn't remember I already issued it! Sorry for the off-topic. As this is answered anyway, let's close it.

[2020-07-27 17:53] #1031 closed, assigned to nobody

[2020-07-27 17:54] pedrobaeza commented on #1012
Yes, `accounting_entry_start_date` can be the way to go, but taking it also as an absolute value, not the whole fiscal year including that date.

[2020-07-27 19:09] luc-demeyer commented on #1012
@pedrobaeza
indeed as absolute value

[2020-07-29 13:53] enricostano commented on #1031
So, we tried what @pedrobaeza suggested and it seems to be a good solution.

The only problem that we see is that when we calculate the depreciation table with **Period Length** (method_period) set to `month` or `quarter` and **Computation Method** (method) set to `linear`, the first depreciation line is higher than the others.

![Screenshot_2020-07-29 Laptop - Odoo](https://user-images.githubuser

[2020-07-29 14:56] luc-demeyer commented on #1031
I don't see the init flag on the line you changed.

[2020-07-29 15:39] enricostano commented on #1031
@luc-demeyer yeah, sorry... I missed that in the screeshots.. but it doesn't affect the issue I'm reporting related to the Amount Already Depreciated on the next lines

[2020-07-29 16:02] luc-demeyer commented on #1031
set init flag + recompute should do the trick.

[2020-07-29 16:49] enricostano commented on #1031
Thanks, it works! :smiley:

Out of curiosity, is there any reason why the linear method doesn't calculate the amounts evenly? I was expecting in this example:

Purchase value: 1000
Purchase date: 7 Aug 2018
Years: 5
Period length: quarter

Quarters in 2018: 2
Quarters in 2019: 4
Quarters in 2020: 4
Quarters in 2021: 4
Quarters in 2022: 4

Total quarters: 18

Each depreciation line amount should be

[2020-07-29 18:34] luc-demeyer commented on #1031
the calc logic is fiscal year based.
First the FY year amount is calculated.
After that the amount is equaly split over the periods.
Rounding is done in the last period of the fiscal year.

[2020-07-30 07:45] enricostano commented on #1031
Ok, thanks for the explanation!

[2020-08-05 14:37] Shide commented on #1024
This module seems to be duplicated.
`account_lock_to_date` and `account_lock_date_update` seems the same module but `account_lock_to_date` seems to overwrite with another fields the base account behavior.

I think this module (`account_lock_date_update`) is the right one because only adds a wizard to the behavior.

[2020-08-05 14:52] AaronHForgeFlow commented on #1009
That module prevents to create journal entries too far in the future. For example, I don't want users to post a journal entry for 2021. Then I set the lock date on 01/01/2021

[2020-08-11 17:23] ray-odoo commented on #888
@pedrobaeza can you check if https://github.com/OCA/account-financial-tools/tree/12.0/account_fiscal_month should be in the list of modules to migrate?

[2020-08-11 17:26] pedrobaeza commented on #888
Well, it could be if a contributor finds it interesting and migrate it. Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list for an explanation of missing modules there. Are you going to migrate it?

[2020-08-11 17:48] ray-odoo commented on #888
@pedrobaeza Thanks - I did read that.  I will have to review the original and my schedule to see if I can.

How would a contributor know to be interested in it if it wasn't on the list (what I am asking)?

[2020-08-11 17:49] pedrobaeza commented on #888
Because they know the module from lower versions. They are published on both Odoo Apps and OCA Apps stores.

[2020-08-11 17:54] ray-odoo commented on #888
"You can ask in the issue itself for the module to be added to the list if you detect that is missing."

**I would like to ask for the module to be added to the list because I detect that it is missing.**

Sorry if I was not clear.

[2020-08-11 18:08] pedrobaeza commented on #888
OK, added, but if you are not going to work on it, and nobody does, it's a nonsense to add anything to a TODO list that is not going to be done ever. I will try to rephrase later that wiki entry.

[2020-08-21 13:58] kittiu opened #1049 "[13.0][RFC] account_move_template, dynamic move_line's amount and partner support."
Hi, we did use this module as part of our project module, and as the template wizard is called we need to find way to populate amount and partner dynamically, which is not an option currently.

I would like to add context hook, context["set_move_line_partner"], context["set_move_line_amount"] to fill this feature.

I.e.,
* set_move_line_partner = {"L1": partner_id1, "L2": partner_id2}
* set_move_l

[2020-08-24 07:22] pedrobaeza commented on #696
We can close this as everything migrated.

[2020-08-24 07:22] #696 closed, assigned to nobody

[2020-08-28 03:51] Saran440 opened #1051 "account_asset_management : Calculate amount mistake when remove asset"
Hello All,

I thought we calculated early removal is wrong.

**Example**
Asset start date 01 Aug 2020
and we will remove this asset at 31 Aug 2020

Depreciation board will create a new line early removal is 30 Aug 2020
that line should calculate depreciation amount ratio **30/31** days.
but it compute ratio **29/30** days. Is it correct ?
What do you think?

Thank you.

[2020-08-28 04:02] Saran440 commented on #1051
Fixed https://github.com/OCA/account-financial-tools/pull/1042

[2020-09-10 21:16] bodedra commented on #888
There is no need to migrate "account_move_chatter" module. Module feature is available in Odoo v13.0

[2020-09-12 08:57] pedrobaeza commented on #888
Thanks, reflected here and in https://github.com/OCA/OpenUpgrade/commit/106774dc645081191a9fdb36518d1bea5609becf

[2020-09-24 11:02] babatoko opened #1059 "bug account_check_deposit doesn't work in multi compagny setup"
I use check deposit module for a while and after upgrading from odoo10 to odoo12 I'm not able to create a new check deposit.

The field journal doesn't show up.

I'm not able to reproduce on run it as my multi-company setup.

Cheers for your help

[2020-09-30 18:41] babatoko commented on #1059
Hi

Did someone have seen this issue?

Any clue to go forward

Cheers

[2020-10-04 10:19] OCA-git-bot opened #1063 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] account_asset_management - By @joao-p-marques - #1112
- [x] account_balance_line - By @hildickethan - #1105
- [x] account_chart_update - By @Reyes4711 - #1136
- [ ] account_check_deposit
- [ ] account_fiscal_year: discussion in #1069
- [x] account_loan - By @AntoniRomera - #1316
- [ ] accoun

[2020-10-05 16:08] bunhin opened #1064 "[v11] [Question] Asset Management can we set more init or make it configurable?"
I see that the maximum asset depreciation line set to init for maximum a 12 month or a year

Current year period 1 April 2020 - 31 March 2021
Do opening entries on 30 Sept 2020
we want to register the asset the accumulated depreciation until 30 Sept 2020 is entered with opening entries (miscellaneous journal)
create a new asset with value 24.000 leave salvage value as 0
asset depreciation in 4 yea

[2020-10-06 02:08] bunhin commented on #1064
I am sorry it seems already has a similar question, I will try to set the lock date, since can not set the init manually (forbidden sign is shown although with edit mode)

[2020-10-06 02:12] bunhin commented on #1031
I am sorry but can not set the init flag manually, I already in edit mode, when mouse over the init box, the forbidden sign is shown [V11], thank you to somebody can help point out what to to to be able to set init flag manually

[2020-10-06 02:45] bunhin commented on #1064
update, when I set the lock date until the last fiscal year before the current fiscal year, yes the init flag is automatically set for the past years, but still, when I want to set more init flag for the other lines (months) of the current fiscal year before the opening entry date, the forbidden sign persists in edit mode for the draft lines well

am I miss something?

[2020-10-08 13:09] wittiko opened #1066 "Stack Trace on clicking to app accounting"
Hello,

OS: Debian Buster (10.6)
Version: 14.0.20201008
PostgreSQL: 11.9-0+deb10u1

everytime i click on accounting i got following error:

`Fehler:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 682, in

[2020-10-08 16:05] pedrobaeza commented on #1066
There are no modules migrated to v14 in this repo, so closing.

[2020-10-08 16:05] #1066 closed, assigned to nobody

[2020-10-09 11:26] malogo opened #1067 "Function email send"
I have a boolean variable to control the sending of delinquent payment notices. But I don't know where in the code this function is.

[2020-10-09 11:30] pedrobaeza commented on #1067
Which module in this repository?

[2020-10-09 11:32] malogo commented on #1067
Acount credit control

[2020-10-09 11:34] pedrobaeza commented on #1067
But which is the bug? Which Odoo version?

[2020-10-09 11:41] malogo commented on #1067
No es un bug como tal, tenemos clientes que no pueden ser tratados como morosos, como la Xunta de Galicia y generé una variable para que cuando se vaya a lanzar los emails a los "morosos" se controle que a esos clientes, con la variable a TRUE, no se les envíe. Pero no encuentro el punto en el código donde se gestiona dicho envío

[2020-10-09 11:47] malogo commented on #1067
version Odoo 10.0

[2020-10-09 11:50] pedrobaeza commented on #1067
Only in English. Sorry, but this is an issue tracker, only for commenting bugs, so closing this. Please do your question in forums or mailing lists.

[2020-10-09 11:50] #1067 closed, assigned to nobody

[2020-10-11 09:24] sbidoul opened #1069 "Which approach account_fiscal_year v14"
The `account.fiscal.year` model has been moved to EE in https://github.com/odoo/odoo/pull/46110

In v8 and before, we had fiscal years and periods, we relied on that. In v9 and v10, `account_fiscal_year` had its own data model because fiscal years were not supported in Odoo. In v11, v12, v13, we relied on the upstream Odoo model. In v14 this model still exists but has moved to EE... sigh.

This is

[2020-10-11 09:29] sbidoul commented on #1069
`mis-builder` needs [res.company.compute_fiscalyear_dates](https://github.com/OCA/mis-builder/blob/38148d6ff9e85904b02c47cc9d82a064d38c497a/mis_builder/models/aep.py#L272-L274).

[2020-10-11 09:47] luc-demeyer commented on #1069
account_asset_management relies on fiscal years.

[2020-10-11 10:34] pedrobaeza commented on #1069
I think we have to restore OCA's `account_fiscal_year` module, but extracting the code from core v13, so we only need to add the dependency, but not changing the code in dependent modules.

[2020-10-11 14:38] rvalyi commented on #1069
Hello I agree with @pedrobaeza about making a basic v13 port. Also when porting previously open source Odoo SA modules to the OCA, I suggest to stick with the newest official Odoo Enterprise data model whenever possible. I believe having the same tables and columns when this is trivial is no licensed code infringement and instead it minimizes the diff with the Odoo official doc, it also makes migr

[2020-10-12 14:55] michaelkarrer81 commented on #1069
+1 - I also think it would be best to stick to the newest odoo data model.

[2020-10-12 17:52] legalsylvain commented on #1069
:+1: (in fact I don't see other options).

@fpodoo : It seems you are full closing accounting features gradually. Could you explain the next steps of your roadmap ?
Thanks !

[2020-10-12 19:08] feketemihai commented on #1063
@pedrobaeza Since the reconciliation is not available in the v14.0,  do you think we can have more detailed account_netting module, we have a PR in here https://github.com/OCA/l10n-romania/pull/76, which basically does the same, allow you to select the amounts (partial, full) and add notes for detailing the compensation.

[2020-10-12 19:12] pedrobaeza commented on #1063
Well, the idea is to restore the reconciliation in an OCA module. We can include the compensation/netting there or continue with current module. What are the differences between `account_netting` and yours?

[2020-10-12 19:19] feketemihai commented on #1063
@pedrobaeza first it adds separate models to keep track of compensations, compensation lines, amount that you want to distribute.

[2020-10-12 22:36] pedrobaeza commented on #1063
Uhm, not sure about the convenience of having such overhead for a simple operation like this one.

[2020-10-13 06:02] feketemihai commented on #1063
@pedrobaeza It's coming from the issues with Fiscal Authorities, since you need to document the compensation operation.

[2020-10-13 07:08] sbidoul commented on #1069
+1 to keep the same model as long as we can, of course.

What do we do with the methods, such as `compute_fiscalyear_dates` ?

@fpodoo in case you read this, I for one usually don't complain loudly when features move around and indeed it is no surprise that some accounting stuff moves to EE. Yet there was a kind of untold agreement that basic data models that are required for basic interop of acco

[2020-10-13 07:54] pedrobaeza commented on #1063
Well, the reconciliation record itself is such document IMO.

[2020-10-13 08:46] fpodoo commented on #1069
I have no idea why we did that for this specific object / feature. But I
can answer on our mindset:

We have some apps in Odoo Community and others in Enterprise. The apps that
are in Odoo Community stays in
community (and all their future features are published open source) and the
apps in Enterprise stays in Enterprise:
we might have exceptions [1] but we try to stick to that rules.
- Invoicing

[2020-10-15 09:02] OSevangelist commented on #1069
@fpodoo i think your answer is well understandable, but if you consider "Odoo Community" as always only the official community version of yours w/o any OCA code, the OCA can't rely on any base architecture any longer, because that would naturally read as "If some model or feature is not used by Odoo CE official code, it may be eventually moved to Odoo EE even if it was CE code in the first place".

[2020-10-15 10:08] jcdrubay commented on #1069
@Frederik Kramer: +1

On Thu, Oct 15, 2020 at 4:03 PM Frederik Kramer <notifications@github.com>
wrote:

[2020-10-15 10:55] OSevangelist commented on #1069
Who is that ;-)

[2020-10-16 07:24] fpodoo commented on #1069
We won't revert back, because we consider it a good decision.

I think it's good for your OCA module too; It won't benefit you to have a
dead, legacy, code to rely on. Because if the
code is not used in OC, it won't be maintained efficiently either. By
putting the object in your module, at least you can
maintain it efficiently.

Sorry, but our priority is code quality, rather than maintaining lega

[2020-10-16 09:08] jakubPCV commented on #1069
Standing by your point even though it is proven to make life difficult for partners and end users. Happens too often with Odoo. You should really work on your approach and mindset.

If needed,  I can show tens of of support tickets when Odoo made a wrong decision in terms of business workflow changes in Odoo and never owned up to their mistakes and fuckups → and was never willing to resolve anythi

[2020-10-16 09:13] pedrobaeza commented on #1069
@jakubPCV even if true, this thread is not for general rantings, but focused on the topic of the title, so I'm folding these comments.

[2020-10-16 10:24] jakubPCV commented on #1069
Is there any thread on general ranting with someone in power? I find it
very hard to find someone to discuss feedbacks regarding roadmaps,
functionality, planned and done changes amd performance of support team

On Fri, 16 Oct 2020, 16:14 Pedro M. Baeza, <notifications@github.com> wrote:

[2020-10-16 11:07] pedrobaeza commented on #1069
Clearly not here in OCA, as your rants seems to be with Odoo S. A. Write to your account manager.

[2020-10-16 11:08] jakubsmolka commented on #1069
Wish that could help anything. But sorry for spamming OCA, that was not
my intention

On Fri, 16 Oct 2020, 18:07 Pedro M. Baeza, <notifications@github.com> wrote:

[2020-10-17 09:37] bunhin commented on #1064
Ok, got it, it has to be in form view to be able to set the init entry one by one

[2020-10-17 09:37] #1064 closed, assigned to nobody

[2020-10-18 02:29] bunhin commented on #1012
I believe the init entry (block) a way better when it is configurable, beside auto block until last month of  previous fiscal year as the default. This way when we entry a lot of assets in the midle of fiscal year, we do not need to manualy open in form view just to check as init entry (in current state, when we are in list view is not allowed to check that init box)

related to this, As other enh

[2020-10-19 13:07] paoazar commented on #673
Hi, Is it possible to add some fees, insurances and taxes?
Thank you.

[2020-10-19 15:14] bunhin opened #1073 "[V11] Account Asset Managment --First and Last Period Depreciation line is not calculated correctly - time 8 year, periode = month, liniear, prorate"
how to reproduce:
Set Fiscal Year  FY-2020   1 April 2020 - 31 March 2021
Create Aset View -->Machine Asset type = view
Create Asset Profile --> Machine Asset Profile  ( Time method: No of years, No of years = 8, periode length = month)

Create asset :
time 8 year, periode = month, liniear, prorate
Aset Name : Test Aset 1
reference : test-001
Purchase value: 80.000.000
Salavage value : 0
Start Dat

[2020-10-23 02:39] bunhin commented on #1073
I close, the issue since it seems to be part of localization instead of bug. I overide 2 functions to suit local needs.

[2020-10-23 02:39] #1073 closed, assigned to nobody

[2020-10-23 15:43] eLBati commented on #1063
So, for `account_fiscal_year` we follow this approach https://github.com/OCA/account-financial-tools/issues/1069#issuecomment-706683943 right?

[2020-10-23 15:45] pedrobaeza commented on #1063
I would say yes.

[2020-10-27 17:11] FedericoGregori opened #1075 "[13.0] account_asset_management - Created Moves are initially as posted"
Hi guys. First time reporting an issue, if the format or something is wrong please sorry. Still learning.

I don't fully understand why the Create Move button on Account Asset Lines automatically post the Account Move. I mean, after we created one, is impossible to cancel/delete it and you enter in some kind of "deletion" bucle where you need to change the state of the Asset to draft but still not

[2020-10-27 17:13] pedrobaeza commented on #1075
I don't get why you aren't able to cancel it after the creation...

[2020-10-27 17:20] FedericoGregori commented on #1075
If you try to delete an Account Move from the Asset Line you get:
![image](https://user-images.githubusercontent.com/22988134/97337556-34b26b80-185f-11eb-898b-0d801221b0b6.png)

Then you go to the Account Move Form and it requests to change the Asset to draft
![image](https://user-images.githubusercontent.com/22988134/97337665-54e22a80-185f-11eb-8155-c299cfa80a0d.png)

After that the next error is

[2020-10-27 18:08] pedrobaeza commented on #1075
But if you delete the move from the button in the depreciation board, is it not working?

[2020-10-27 18:27] FedericoGregori commented on #1075
No, I get the next two alerts:
![image](https://user-images.githubusercontent.com/22988134/97345388-c1adf280-1868-11eb-926e-34a517124feb.png)

![image](https://user-images.githubusercontent.com/22988134/97345408-c8d50080-1868-11eb-8ace-b0da8566cade.png)

- Atm the delete move button works only if the account move is in draft. But this behavior is achieved only if the move.post() is removed/comment

[2020-10-27 18:29] pedrobaeza commented on #1075
One last question: are you able to set to draft the depreciation move and then delete it?

[2020-10-27 18:33] FedericoGregori commented on #1075
No, Im not. I get this:

![image](https://user-images.githubusercontent.com/22988134/97346065-b60efb80-1869-11eb-82fa-8aa7f8ff2c2c.png)

[2020-10-27 19:15] pedrobaeza commented on #1075
OK, thanks for the extensive tests and information.

@luc-demeyer what do you think it should be the flow?

A. Allow to delete posted/draft depreciation moves from asset depreciation board?
B. Allow to delete draft depreciation moves from asset depreciation board and allow to set to draft from move view?
C. Allow to delete draft depreciation moves no matter from which view and allow to set to draf

[2020-10-29 08:06] svalaeys opened #1076 "[12.0] account-asset-management: Calculation of fiscal year duration makes no sense in non-trivial cases"
Hello,

Some customers of mine reported that the value of depreciations in the depreciation board were not constant as expected over each month. It didn't fit the "urgent to figure out" until this happened:
![image](https://user-images.githubusercontent.com/8061624/97539278-fd100480-19c1-11eb-889c-4774253f5085.png)

There is actually a negative depreciation for a month.

To reproduce this, which I

[2020-10-29 08:13] pedrobaeza commented on #1076
Without investigating too much, have you tried with the check "Calculate by days"?

[2020-10-29 10:27] luc-demeyer commented on #1076
This could be a duplicate of the issue tackled in https://github.com/OCA/account-financial-tools/pull/925

[2020-10-29 14:05] svalaeys commented on #1076
@pedrobaeza If I try with Calculate by days, for the first period I get a positive 1.98, which sounds about right.

@luc-demeyer Insofar as I can undesrtand #925  seems to be related to leap years. In my case that's not (entirely) the problem. The first fiscal year involves no leap years (2018 and 2019). However, the problem is that the ratio is computed based on days, and that seems to me to just

[2020-10-31 01:34] moylop260 opened #1077 "The financial functions in NumPy are deprecated and eventually will be removed from NumP"
Check the main description of the following pacakge:
 - https://pypi.org/project/numpy-financial/

<s>

Other benefits to migrate:
 - https://github.com/numpy/numpy/issues/17674

</s>

Forget it, it is not a benefit numpy-financial depends of numpy :(

@fernandahf

[2020-11-05 15:34] SimoRubi commented on #1063
I'm starting to work on the `account_fiscal_year` migration, I'll try to follow the guidelines given in https://github.com/OCA/account-financial-tools/issues/1069#issuecomment-706683943 and will create a PR as soon as I've got something working

[2020-11-05 15:35] pedrobaeza commented on #1063
Thanks, Simone. Ping me with any doubt.

[2020-11-09 06:20] Saran440 commented on #1063
account_check_deposit https://github.com/OCA/account-financial-tools/pull/1082

[2020-11-10 08:12] SimoRubi commented on #1063
account_fiscal_year: https://github.com/OCA/account-financial-tools/pull/1081

[2020-11-13 20:17] alexis-via commented on #614
There is a configuration parameter "Post Move for Check Deposits" on the Accounting configuration page... check this option and the generated move will be automatically posted.

[2020-11-13 20:17] #614 closed, assigned to nobody

[2020-11-13 20:34] alexis-via commented on #853
You can use this patch on odoo to fix it : https://github.com/akretion/odoo-usability/blob/10.0/account_usability/account_several_improvements.diff  (it's the 1st change of the diff which solves the pb)
or use OCB, cf https://github.com/OCA/OCB/blob/10.0/addons/account/models/account_bank_statement.py#L569

[2020-11-20 10:31] ozono commented on #1063
On the road to restore reconciliation widget. I would like to know if it fits in this OCA repo as 'account_reconcile_widget'. Comments  and indications also woud be appreciated.

[2020-11-20 10:34] pedrobaeza commented on #1063
@ozono I have that on my development backlog, talked on OCA Online Days. Check https://twitter.com/alexisdlattre/status/1317149095597887491?s=20

Do you want us to meet for debating about this?

[2020-11-20 10:44] ozono commented on #1063
Ok Pedro. I'll send you a mail to make an appointment.

[2020-12-15 22:35] ozono commented on #1063
Working on account_reconciliation_widget  #1101

[2020-12-17 00:40] ozono commented on #1063
account_reconciliation_widget development was moved to from  this repo to OCA/account-reconcile#359 after request

[2020-12-30 17:57] enricostano commented on #1009
@AaronHForgeFlow @cubells which module would you use to lock past fiscal periods instead? Thanks!

[2020-12-30 22:15] cubells commented on #1009
@enricostano https://github.com/OCA/account-financial-tools/tree/13.0/account_lock_date_update

[2021-01-06 17:06] protontrigg3r opened #1108 "[12.0] duplicate dependence 'queue'"
Here: https://github.com/OCA/account-financial-tools/blob/12.0/oca_dependencies.txt

[2021-01-07 07:27] pedrobaeza commented on #1108
It shouldn't be a problem, but I have fixed it in e553ca3

[2021-01-07 07:27] #1108 closed, assigned to nobody

[2021-01-07 14:47] joao-p-marques commented on #1063
I will migrate account_asset_management

[2021-01-14 12:46] fermatrix opened #1113 "account_asset_management - Analytics Tags"
Hi everybody!

I don´t find a way to add an "analytic tag" to assets (only analytic accounts).

I just wanted to confirm that is a feature not supported, and that I am not doing anything wrong.

Thanks a lot for this great module.

[2021-01-21 12:40] AaronHForgeFlow commented on #1010
This is fixed after the last merge.

[2021-01-21 12:40] #1010 closed, assigned to nobody

[2021-01-21 20:27] mylbco commented on #1010
I'll check it out, thx !

[2021-01-25 13:52] bosd commented on #1063
please add: account_invoice_currency to the list

[2021-01-25 16:23] enricostano opened #1114 "account_asset_management catalan i18n"
Hi,
in Weblate I see that catalan language is present in 2 files `ca.po` and `ca_ES.po`:
![image](https://user-images.githubusercontent.com/748971/105733377-c9496a00-5f31-11eb-8a30-db1f8593fcc0.png)
Which one should we use?
Should we merge them? Which one should be present? I guess `ca.po`.

Thanks!

[2021-01-25 16:24] pedrobaeza commented on #1114
Yes, you can do a PR removing `ca_ES.po`.

[2021-01-26 15:40] colmeirin commented on #888
Seems like module account_loan previously migrated to v12 it's missing from the v13 issue list. It's in another repo? deprecated? or just missing? I can try work on it if it's really missing from v13 branch

[2021-02-11 15:15] JordiBForgeFlow opened #1128 "[account_asset_management] Deferred revenues and expenses"
The account asset management module can be used to compute deferred revenues and expenses as well.

So, you enter a vendor bill, and indicate a deferred expense account. This creates an asset. The asset profile in this case involves the following accounts:

- **Asset account:** Deferred expense account
- **Accumulated Depreciation account:**  Deferred expense account
- **Depreciation expense accou

[2021-02-11 15:45] etobella commented on #1128
LGTM, maybe we need to use `asset` as default.

[2021-02-11 16:15] pedrobaeza commented on #1128
AFAIK, this case is covered with account-closing modules (cutoff ones). I don't know if mixing them with assets is a good option.

[2021-02-11 17:25] JordiBForgeFlow commented on #1128
@alexis-via Could you comment on this? Do you agree with Pedro? I agree that the cutoff modules seem to do the job.

[2021-02-11 18:17] luc-demeyer commented on #1128
Several of my customers use the account_asset_management module for this purpose since OpenERP v6.
Technically it works ok, but from a User Interface standpoint it's not intuitive.
An alternative is https://github.com/OCA/account-financial-tools/tree/12.0/account_spread_cost_revenue.

[2021-02-12 16:50] JordiBForgeFlow commented on #1128
@luc-demeyer looks like account_spread_cost_revenue is what I was looking for! And almost migrated to v13! https://github.com/OCA/account-financial-tools/pull/984

The benefit of this module is that is so much more intuitive than the cut-off ones, because the prepaid expense is recognized at the beginning as an asset, to be expensed out of a predefined board. This means that at any point of time w

[2021-02-13 18:18] astirpe commented on #1128
@JordiBForgeFlow you may find interesting the discussion about the difference between the spread-cost-revenue module and the cut-off modules here: https://github.com/OCA/account-financial-tools/pull/715

[2021-02-13 18:27] JordiBForgeFlow commented on #1128
@astirpe thanks!! Closing the issue

[2021-02-13 18:27] #1128 closed, assigned to luc-demeyer

[2021-02-26 15:37] jotate70 opened #1132 "error installing odoo 12 missing python-dateutil"
Hello when installing in odoo 12 it throws me the following error, Impossible to install the module "account_asset management" because there is an unresolved external dependency: No module named python-dateutil

[2021-02-26 16:14] sergiocorato commented on #1132
This is a required library, to solve the issue install it.

[2021-02-26 16:16] #1132 closed, assigned to nobody

[2021-02-26 18:51] jotate70 commented on #1132
hello, python-dateutil 2.8.1 is installed but the error message still appears

[2021-02-26 18:56] pedrobaeza commented on #1132
Not in the Python environment where you are running Odoo. If installed, it won't show that error.

[2021-03-08 19:49] #1114 closed, assigned to nobody

[2021-03-11 18:21] BT-jmontero opened #1142 "account_menu: applicability_field shown twice in account.account.tag form"
https://github.com/OCA/account-financial-tools/blob/669fa47db3d91b0a6fe60d2baedc8cacba540437/account_menu/views/view_account_tag.xml#L11

The core definition (at least in v13) already shows the field "applicability" in the form view; therefore, we don't need it here (the whole "group" can be deleted). Effect of the issue: the Applicability field is shown twice on the form.

[2021-03-23 13:27] SimoneVagile commented on #1063
Please add: account_reversal ([https://github.com/OCA/account-financial-tools/tree/11.0/account_reversal](https://github.com/OCA/account-financial-tools/tree/11.0/account_reversal))

[2021-03-23 15:55] pedrobaeza commented on #1063
`account_reversal` features are included in core.

[2021-04-13 05:34] fgarcia-humanoide commented on #1063
account_move_force_removal

Please, add account_move_force_removal in the modules to migrate list

Thanks

[2021-04-13 16:09] sergioeix commented on #888
@colmeirin same doubt with account_loan, it can be done as default in odoo13 or need migrate this to get this feature?

[2021-04-14 07:48] yboujraf opened #1155 "[14] account_auto_fy_sequence : Migration to Odoo14 CE"
module: account_auto_fy_sequence
version: 8.0

I am using this module in my OdOO V8 CE.

Now I am migrating in Odoo 14 CE but I can't find the module or equivalent.

Any idea will be nice.

Best Regards

[2021-04-15 07:46] colmeirin commented on #888
@sergioeix you should check pr #1130

[2021-04-22 11:35] ghost opened #1164 "[12] account_asset_management - the number of the entry number is the name of the asset"
Hello,
I have detected the following behavior in runbot. When posting the entries, Odoo assigns them the name of the asset instead of the corresponding entry number. I think it is not correct.
The steps I have followed are:

I have created an Asset Categories
![2021-04-22 13_03_20-Elementos de transporte - Odoo](https://user-images.githubusercontent.com/25029267/115707441-155c4d00-a36f-11eb-812c-9

[2021-04-22 11:42] pedrobaeza commented on #1012
Closing as fixed.

[2021-04-22 11:42] #1012 closed, assigned to nobody

[2021-04-22 11:42] pedrobaeza commented on #1164
Duplicated of #1008

[2021-04-22 11:42] #1164 closed, assigned to nobody

[2021-04-26 08:24] tafaRU commented on #1063
I'm starting to work on `account_move_force_removal` migration.

[2021-04-26 08:25] tafaRU commented on #1063
@fgarcia-humanoide done

[2021-04-26 09:59] tafaRU commented on #1063
`account_move_force_removal`: https://github.com/OCA/account-financial-tools/pull/1167

[2021-04-27 06:54] vekin03 opened #1169 "[currency_rate_update] Admin.ch API link has changed"
As stated in the [Swiss Federal Tax Administration website](https://www.estv.admin.ch/estv/en/home/mehrwertsteuer/dienstleistungen/fremdwaehrungskurse.html), the API link to get daily exchange rates has changed and the current link will be **deactivated at the end of May 2021**.

Current API link used: http://www.pwebapps.ezv.admin.ch/apps/rates/rate/getxml?activeSearchType=today
New API link to u

[2021-04-29 13:42] fgarcia-humanoide opened #1171 "[14] Edit journals and sequences like version 13 - ENHANCEMENT"
In odoo 14 CE is not possible to edit journals and sequences as in older versions.  In odoo apps we can find three or more paid modules that solve this problem. As an example
https://apps.odoo.com/apps/modules/14.0/cf_journal_sequence/

[2021-05-03 08:50] hitrosol opened #1174 "Relation between Asset Management, Inventory and Maintenance Equipment"
Using the current Asset Management Module, I see the possibility to purchase the Fixed Asset using Purchase Order then receipt in Inventory. so the movement of the Asset can be monitored in Inventory, and the depreciation can be maintained in the Asset Management.

I wonder if there is relationship between the Inventory/Asset management and the Maintenance or Fleet. Because the Fixed Asset that we

[2021-05-05 06:54] fgarcia-humanoide commented on #1063
Thank you very much Alex - @tafaRU

[2021-05-09 09:12] babatoko opened #1179 "bug account_check_deposit doesn't work in multi compagny setup"
account_check_deposit seems not to be working in multi company environnement.

Not able to test onto runbot.

I'm fully available to help